$source-stagsans-pathPrefix: "../../fonts/stagsans/";

@mixin font-source-stagsans-regular ($italic: true, $ss-font-weight: 400) {
  @font-face {
    font-family: "Stag Sans";
    src: url('#{$source-stagsans-pathPrefix}StagSans-Book.otf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "Stag Sans";
      src: url('#{$source-stagsans-pathPrefix}StagSans-BookItalic.otf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}

@mixin font-source-stagsans-medium ($italic: true, $ss-font-weight: 400) {
  @font-face {
    font-family: "Stag Sans";
    src: url('#{$source-stagsans-pathPrefix}StagSans-Medium.otf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "Stag Sans";
      src: url('#{$source-stagsans-pathPrefix}StagSans-MediumItalic.otf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}




@mixin font-source-stagsans-extralight ($italic: true, $ss-font-weight: 300) {
  @font-face {
    font-family: "Stag Sans";
    src: url('#{$source-stagsans-pathPrefix}StagSans-Thin.otf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "Stag Sans";
      src: url('#{$source-stagsans-pathPrefix}StagSans-ThinItalic.otf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}




@mixin font-source-stagsans-light ($italic: true, $ss-font-weight: 300) {
  @font-face {
    font-family: "Stag Sans";
    src: url('#{$source-stagsans-pathPrefix}StagSans-Light.otf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "Stag Sans";
      src: url('#{$source-stagsans-pathPrefix}StagSans-LightItalic.otf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}





@mixin font-source-stagsans-semibold ($italic: true, $ss-font-weight: 600) {
  @font-face {
    font-family: "Stag Sans";
    src: url('#{$source-stagsans-pathPrefix}StagSans-Semibold.otf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "Stag Sans";
      src: url('#{$source-stagsans-pathPrefix}StagSans-SemiboldItalic.otf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}



@mixin font-source-stagsans-bold ($italic: true, $ss-font-weight: 700) {
  @font-face {
    font-family: "Stag Sans";
    src: url('#{$source-stagsans-pathPrefix}StagSans-Bold.otf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "Stag Sans";
      src: url('#{$source-stagsans-pathPrefix}StagSans-BoldItalic.otf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}





@mixin font-source-stagsans-black ($italic, $ss-font-weight: 900) {
  @font-face {
    font-family: "Stag Sans";
    src: url('#{$source-stagsans-pathPrefix}StagSans-Black.otf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "Stag Sans";
      src: url('#{$source-stagsans-pathPrefix}StagSans-BlackItalic.otf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }  
  }
}





@mixin font-source-stagsans ($italic: false, $ss-font-weight: $v-font-weight, $medium: true, $regular: false, $extralight: false, $light: false, $semibol: false, $bold: false, $black: false) {
  @if $extralight {
    @include font-source-stagsans-extralight($italic, $ss-font-weight);
  }
  @if $light {
    @include font-source-stagsans-light($italic, $ss-font-weight);
  }
  @if $regular {
    @include font-source-stagsans-regular($italic, $ss-font-weight);
  }
  @if $medium {
    @include font-source-stagsans-medium($italic, $ss-font-weight);
  }
  @if $semibol {
    @include font-source-stagsans-semibold($italic, $ss-font-weight);
  }
  @if $bold {
    @include font-source-stagsans-bold($italic, $ss-font-weight);
  }
  @if $black {
    @include font-source-stagsans-black($italic, $ss-font-weight);
  }
}