$source-path-vaadinicon : "../../fonts/vaadinicons/";


@mixin vaadinicons {
	/* Tema para vaadin icons*/
	@font-face {
	    font-family: 'Vaadin-Icons';
	    src: url('#{$source-path-vaadinicon}Vaadin-Icons.eot');
	    src: url('#{$source-path-vaadinicon}Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
	         url('#{$source-path-vaadinicon}Vaadin-Icons.woff') format('woff'),
	         url('#{$source-path-vaadinicon}Vaadin-Icons.ttf') format('truetype'),
	         url('#{$source-path-vaadinicon}Vaadin-Icons.svg#icomoon') format('svg');
	}
	.Vaadin-Icons {
	    font-family: 'Vaadin-Icons';
	}
}

