$source-bbvaweb-pathPrefix: "";


@mixin font-source-bbvaweb-book ($italic: true, $ss-font-weight: 900) {
    
  @if $italic {
  @font-face {
      font-family: "BbvaWeb2";
      src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-bookitalic.eot');
      src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-bookitalic.eot?#iefix') format('embedded-opentype'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-bookitalic.woff') format('woff'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-bookitalic.ttf') format('truetype');
      font-weight: $ss-font-weight !important;
      font-style: italic;
  }
  }@else {
  @font-face {
  font-family: "BbvaWeb2";
    src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-book.eot');
    src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-book.eot?#iefix') format('embedded-opentype'),
         url('#{$source-bbvaweb-pathPrefix}bbvaweb-book.woff') format('woff'),
         url('#{$source-bbvaweb-pathPrefix}bbvaweb-book.ttf') format('truetype');
        
    font-weight: $ss-font-weight !important;
    font-style: normal;
  }
  }
}

@mixin font-source-bbvaweb-light ($italic: true, $ss-font-weight: 900) {
    
  @if $italic {
  @font-face {
      font-family: "BbvaWeb2";
      src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-lightitalic.eot');
      src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-lightitalic.eot?#iefix') format('embedded-opentype'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-lightitalic.woff') format('woff'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-lightitalic.svgz') format('svg'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-lightitalic.ttf') format('truetype');
      font-weight: $ss-font-weight !important;
      font-style: italic;
  }
  } @else {
  @font-face {
  	font-family: "BbvaWeb2";
     src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-light.eot');
     src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-light.eot?#iefix') format('embedded-opentype'),
          url('#{$source-bbvaweb-pathPrefix}bbvaweb-light.woff') format('woff'),
          url('#{$source-bbvaweb-pathPrefix}bbvaweb-light.svgz') format('svg'),
          url('#{$source-bbvaweb-pathPrefix}bbvaweb-light.ttf') format('truetype');
    font-weight: $ss-font-weight !important;
    font-style: normal;
  }
  }
}

@mixin font-source-bbvaweb-medium ($italic: true, $ss-font-weight: 800) {
   
  @if $italic {
  @font-face {
      font-family: "BbvaWeb2";
      src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-mediumitalic.eot');
      src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-mediumitalic.eot?#iefix') format('embedded-opentype'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-mediumitalic.woff') format('woff'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-mediumitalic.svgz') format('svg'),
           url('#{$source-bbvaweb-pathPrefix}bbvaweb-mediumitalic.ttf') format('truetype');
      font-weight: $ss-font-weight !important;
      font-style: italic;
  }
  }@else { 
  @font-face {
   font-family: "BbvaWeb2";
     src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-medium.eot');
     src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-medium.eot?#iefix') format('embedded-opentype'),
          url('#{$source-bbvaweb-pathPrefix}bbvaweb-medium.woff') format('woff'),
          url('#{$source-bbvaweb-pathPrefix}bbvaweb-medium.svgz') format('svg'),
          url('#{$source-bbvaweb-pathPrefix}bbvaweb-medium.ttf') format('truetype');
    font-weight: $ss-font-weight !important;
    font-style: normal;
  }
  }
}

@mixin font-source-bbvaweb-semibold ($ss-font-weight: 900) {
	@font-face {
    font-family: 'BbvaWeb2';
    src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-semibold.eot');
    src: url('#{$source-bbvaweb-pathPrefix}bbvaweb-semibold.eot?#iefix') format('embedded-opentype'),
         url('#{$source-bbvaweb-pathPrefix}bbvaweb-semibold.svgz') format('svg'),
         url('#{$source-bbvaweb-pathPrefix}bbvaweb-semibold.woff') format('woff'),
         url('#{$source-bbvaweb-pathPrefix}bbvaweb-semibold.ttf') format('truetype');
         
    font-weight: $ss-font-weight !important;
    font-style: normal;
    font-variant: normal;
    }
}

@mixin font-source-bbvaweb ($italic: false, $ss-font-weight: 600, $book: true, $light: false, $medium: false, $semibold: false) {
  @if $book {
    @include font-source-bbvaweb-book($italic, $ss-font-weight);
  }
  @if $light {
    @include font-source-bbvaweb-light($italic, $ss-font-weight);
  }
  @if $medium {
    @include font-source-bbvaweb-medium($italic, $ss-font-weight);
  }
  @if $semibold {
    @include font-source-bbvaweb-semibold($ss-font-weight);
  }
}