$source-bbvaoffice-pathPrefix: "../../fonts/bbvaOffice/";

@mixin font-source-bbvaoffice-book ($italic: true, $ss-font-weight: 300) {
  @font-face {
    font-family: "BbvaOffice";
    src: url('#{$source-bbvaoffice-pathPrefix}bbvaoffice-book.ttf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "BbvaOffice";
      src: url('#{$source-bbvaoffice-pathPrefix}bbvaoffice-bookitalic.ttf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}

@mixin font-source-bbvaoffice-light ($italic: true, $ss-font-weight: 400) {
  @font-face {
    font-family: "BbvaOffice";
    src: url('#{$source-bbvaoffice-pathPrefix}bbvaoffice-light.ttf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "BbvaOffice";
      src: url('#{$source-bbvaoffice-pathPrefix}bbvaoffice-lightitalic.ttf) format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}

@mixin font-source-bbvaoffice-medium ($italic: true, $ss-font-weight: 300) {
  @font-face {
    font-family: "BbvaOffice";
    src: url('#{$source-bbvaoffice-pathPrefix}bbvaoffice-medium.ttf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
  @if $italic {
    @font-face {
      font-family: "BbvaOffice";
      src: url('#{$source-bbvaoffice-pathPrefix}bbvaoffice-mediumitalic.ttf') format('opentype');
      font-weight: $ss-font-weight;
      font-style: italic;
    }
  }
}

@mixin font-source-bbvaoffice-semibold ($ss-font-weight: 300) {
  @font-face {
    font-family: "BbvaOffice";
    src: url('#{$source-bbvaoffice-pathPrefix}bbvaoffice-semibold.ttf') format('opentype');
    font-weight: $ss-font-weight;
    font-style: normal;
  }
}

@mixin font-source-bbvaoffice ($italic: false, $ss-font-weight: $v-font-weight, $book: true, $light: false, $medium: false, $semibold: false) {
  @if $book {
    @include font-source-bbvaoffice-book($italic, $ss-font-weight);
  }
  @if $light {
    @include font-source-bbvaoffice-light($italic, $ss-font-weight);
  }
  @if $medium {
    @include font-source-bbvaoffice-medium($italic, $ss-font-weight);
  }
  @if $semibold {
    @include font-source-bbvaoffice-semibold($italic, $ss-font-weight);
  }

}