@import "../../valo/valo.scss";
@import "comboBox.scss";

$background-multiple:#FFDD7A;
$background-personal:#EF918E;
$background-manual:#AAD794;
$background-comercial:#8EB2E4;
@mixin agenda{

	
	//CITA PERSONAL
	  	
  	.v-calendar-week-wrapper .v-calendar-event-citaPersonal{
  		$background-inicio:#FFF;
     	background-color:$background-inicio !important;
     	
  	}
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaPersonal .v-calendar-event-content{
     	background-color:$background-personal !important;
     	opacity: 0.55;
    	filter: alpha(opacity=55);
  	}
  	
  	.v-calendar-month .v-calendar-event-citaPersonal{
     	background-color:$background-personal !important;
     	opacity: 0.55;
    	filter: alpha(opacity=55);
  	}
  	
  	.evento-general-color{
  		color:$background-personal;
  		font-weight: bold;
  	}
  	
  	.v-checkbox-general{
  		$color-check:#FFF;
  		$size:30px;
    	@include valo-checkbox-style($background-color:$color-check , $unit-size:$size, $selection-color:$background-personal);
  	}
  	
  	
  	
  	//CITA PERSONAL - INTERVALO DE 15MIN
  	.v-calendar-week-wrapper .v-calendar-event-citaPersonal2 .v-calendar-event-content{
      	background-color:$background-personal !important;     	
  	}
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaPersonal2 .v-calendar-event-caption{
  		visibility: hidden;
  	}
  	
  	
  	//CITA COMERCIAL
  	.v-calendar-week-wrapper .v-calendar-event-citaComerdial{
     	background-color:#FFF !important;
  	}
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaComerdial .v-calendar-event-content{
     	background-color:$background-comercial !important;
  	}
  	
  	.v-calendar-month .v-calendar-event-citaComerdial{
     	background-color:$background-comercial !important;
  	}
  	
  	.evento-comercial-color{
  		color:$background-comercial;
  		font-weight: bold;
  	}
  	
  	.v-checkbox-comercial {
  		$color-check:#FFF;
  		$size:30px;
    	@include valo-checkbox-style($background-color:$color-check , $unit-size:$size, $selection-color:$background-comercial );
  	}
  	
  	
  	//CITA COMERCIAL - INTERVALO DE 15MIN
  	.v-calendar-week-wrapper .v-calendar-event-citaComerdial2 .v-calendar-event-content{
     	background-color:$background-comercial !important;
  	}
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaComerdial2 .v-calendar-event-caption{
  		visibility: hidden;
  	}
  	
  	
  	
  	//CITA COMERCIAL MANUAL
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaComercialManual{
  		$background-inicio:#FFF;
     	background-color:$background-inicio !important;
  	}
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaComercialManual .v-calendar-event-content{
     	background-color:$background-manual !important;
     	opacity: 0.55;
    	filter: alpha(opacity=55);
  	}
  	
  	.v-calendar-month .v-calendar-event-citaComercialManual{
     	background-color:$background-manual !important;
     	opacity: 0.55;
    	filter: alpha(opacity=55);
  	}
  	
  	.evento-manual-color{
  		color:$background-manual;
  		font-weight: bold;
  	}
  	
  	.v-checkbox-manual {
  		$color-check:#FFF;
  		$size:30px;
    	@include valo-checkbox-style($background-color:$color-check , $unit-size:$size, $selection-color:$background-manual );
  	}
  	
  	
  	//CITA COMERCIAL MANUAL - INTERVALO DE 15MIN
  	.v-calendar-week-wrapper .v-calendar-event-citaComercialManual2 .v-calendar-event-content{
     	background-color:$background-manual !important;
  	}
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaComercialManual2 .v-calendar-event-caption{
  		visibility: hidden;
  	}
  	

  	//CITA MULTIPLE
  	
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaMultiple{
  		$background-inicio:#FFF;
     	background-color:$background-inicio !important;
  	}
  	
  	.v-calendar-week-wrapper .v-calendar-event-citaMultiple .v-calendar-event-content{
     	background-color:$background-multiple !important;
     	opacity: 0.55;
    	filter: alpha(opacity=55);
  	}
  	
  	.v-calendar-month .v-calendar-event-citaMultiple{
     	background-color:$background-multiple !important;
     	opacity: 0.55;
    	filter: alpha(opacity=55);
  	}
  	
  	.evento-multiple-color{
  		color:$background-multiple;
  		font-weight: bold;
  	}
  	
  	.v-checkbox-multiple {
  		$color-check:#FFF;
  		$size:30px;
    	@include valo-checkbox-style($background-color:$color-check , $unit-size:$size, $selection-color:$background-multiple );
  	}
  	
  	//CITA MULTIPLE - INTERVALO 15 MIN
  	.v-calendar-week-wrapper .v-calendar-event-citaMultiple2 .v-calendar-event-content{
     	background-color:$background-multiple !important;
  	}
  	.v-calendar-week-wrapper .v-calendar-event-citaMultiple2 .v-calendar-event-caption{
  		visibility: hidden; 
  	}
  	
  	

  	
  	.v-calendar-week-wrapper .v-calendar-event{
  	
  		color:#000000 !important;
  	
  	}
  	
  	.v-tabla-agendar{
  		padding:0 13px;
  	}
  	
  	.v-espacio-chico{
  		width:53px !important;
  	}
  	
  	.v-espacio-mediano{
  		width:63px !important;
  	}
  	
  	.v-espacio-vigencia{
  		width:113px !important;
  	}
  	.v-espacio-estado-manual{
  		width:113px !important;
  	}
  	.v-espacio-aacc-manual{
  		width:113px !important;
  	}
  	
  	.v-espacio-grande{
  		width:120px !important;
  	}
  	
  	.lbl-text-center{
  		text-align: center !important;
  	}
  	
  	.v-espacio-monto{
  		width:61px !important;
  	}
  	.v-espacio-plazo{
  		width:44px !important;
  	}
  	.v-espacio-tasa{
  		width:44px !important;
  	}
  	.v-espacio-estado-comercial{
  		width:70px !important;
  	}
  	.v-espacio-aacc-comercial{
  		width:110px !important;
  	}
  	
		
  	.tblFiltrocampanias .v-table-table{
		box-shadow: 0 0 0 0 #d4d4d4 !important;
	}
	
	.tblFiltrocampanias .v-table-cell-content{
		border: 1px solid !important;
		border-color: #FFF !important;
		white-space: pre; /* CSS 2.0 */
		white-space: pre-wrap; /* CSS 2.1 */
		white-space: pre-line; /* CSS 3.0 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: -moz-pre-wrap; /* Mozilla */
		white-space: -hp-pre-wrap; /* HP */
		word-wrap: break-word; /* IE 5+ */
	}
	
	.tblFiltrocampanias .estiloComercial .v-table-body .v-table-cell-content:nth-child(1){
	 	width: 255px !important;
	}
	
	.tblFiltrocampanias .estiloComercial  .v-table-cell-content:nth-child(1) .v-table-cell-wrapper:nth-child(1){
		width: 255px !important;
	}
	
	.tblFiltrocampanias .estiloComercial .v-table-body .v-table-cell-content:nth-child(2){
	 	width: 70px !important;
	}
	
	.tblFiltrocampanias .estiloComercial  .v-table-cell-content:nth-child(2) .v-table-cell-wrapper:nth-child(1){
		width: 70px !important;
	}
	
	.tblFiltrocampanias .estiloComercial .v-table-body .v-table-cell-content:nth-child(3){
	 	width: 43px !important;
	}
	
	.tblFiltrocampanias .estiloComercial  .v-table-cell-content:nth-child(3) .v-table-cell-wrapper:nth-child(1){
		width: 43px !important;
	}
	
	.tblFiltrocampanias .estiloComercial .v-table-body .v-table-cell-content:nth-child(4){
	 	width: 60px !important;
	}
	
	.tblFiltrocampanias .estiloComercial  .v-table-cell-content:nth-child(4) .v-table-cell-wrapper:nth-child(1){
		width: 60px !important;
	}
	
	.tblFiltrocampanias .estiloComercial .v-table-body .v-table-cell-content:nth-child(5){
	 	width: 73px !important;
	}
	
	.tblFiltrocampanias .estiloComercial  .v-table-cell-content:nth-child(5) .v-table-cell-wrapper:nth-child(1){
		width: 73px !important;
	}
	
	.tblFiltrocampanias .estiloComercial .v-table-body .v-table-cell-content:nth-child(6){
	 	width: 106px !important;
	}
	
	.tblFiltrocampanias .estiloComercial  .v-table-cell-content:nth-child(6) .v-table-cell-wrapper:nth-child(1){
		width: 106px !important;
	}
  	
  	.tblFiltrocampanias .estiloGeneral .v-table-body .v-table-cell-content:nth-child(1){
	 	width: 247px !important;
	}
	
	.estiloGeneral .v-table-body {
	 	max-height:250px !important;
	}
	
	.tblFiltrocampanias .estiloGeneral  .v-table-cell-content:nth-child(1) .v-table-cell-wrapper:nth-child(1){
		width: 247px !important;
	}
	
	.tblFiltrocampanias .estiloGeneral .v-table-body .v-table-cell-content:nth-child(2){
	 	width: 120px !important;
	}
	
	.tblFiltrocampanias .estiloGeneral  .v-table-cell-content:nth-child(2) .v-table-cell-wrapper:nth-child(1){
		width: 120px !important;
	}
	
	.tblFiltrocampanias .estiloGeneral .v-table-body .v-table-cell-content:nth-child(3){
	 	width: 120px !important;
	}
	
	.tblFiltrocampanias .estiloGeneral  .v-table-cell-content:nth-child(3) .v-table-cell-wrapper:nth-child(1){
		width: 120px !important;
	}
	
	.tblFiltrocampanias .estiloGeneral .v-table-body .v-table-cell-content:nth-child(4){
	 	width: 120px !important;
	}
	
	.tblFiltrocampanias .estiloGeneral  .v-table-cell-content:nth-child(4) .v-table-cell-wrapper:nth-child(1){
		width: 120px !important;
	}

	.lytComentario .v-comentario{
		border: 1px solid !important;
		border-color: #FFF !important;
		white-space: pre; /* CSS 2.0 */
		white-space: pre-wrap; /* CSS 2.1 */
		white-space: pre-line; /* CSS 3.0 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: -moz-pre-wrap; /* Mozilla */
		white-space: -hp-pre-wrap; /* HP */
		word-wrap: break-word; /* IE 5+ */
	}
	
	.margen-superior-calendario{
		padding-top:10px !important;
		padding-bottom:10px !important;
	}
} 