@import "../../valo/valo.scss";
@mixin altaPAT{ 
	.contenedor-centrado .v-label{
		width: 100%;
		text-align: center;
	}

	.titulo-resultado-calculo-cuota{
		font-size: 21px;
		font-weight: bold;
		padding: 0px;
    	margin: 0px;
	}
	
	.titulo-monto-cuota{
	    font-size: 30px;
	    font-weight: bold;
	    color: #0069B1;
	    padding: 0px;
    	margin: 0px;
	}

	.label-resultado{
		font-weight: bold;
	}
	
	.text-resultado{
		text-align: right;
	}

	.label-top-top-margin{
		margin-top:3%;
	}

    .text-max-monto{
		text-align:right;
	}

}