@import "../../valo/valo.scss";
@mixin biometrico { 

	.lblContenedorBiometrico{
		padding: 5px 0px 0px 0px;
	    color: #000;
	    max-height: 50px;
	    position: relative;
    	text-align: center;
	}
	
	.titulo-info{
    	font-weight: 600;
	}
	
	.title-biometrico{
		padding: 10px 0px 10px 15px;
    	float: left;
    	font-size: 16px;
    	color: #0066C3;
    	font-weight: bold;
	}
	
	.sub-title-biometrico{
		width: 100%;
	    padding-left:15px;
	    color: #000;
	   
	}
	
	.contenedorBiometrico{
		padding-top: 5px;
	}
	
	.label-info-biometrico{
	    border: 1px solid #D6ECF0;
	    border-radius: 5px;
	    background-color: #e1fafe;
	    font-weight: 500;
	    padding-bottom:1%;
	}
		
	.margen-superior-confirma{
	    margin-top: 2.5%;
	}
	
	.margen-superior-cli{
	    margin-top: 0.5%;
	}
	
	.margen-superior-dato{
	    margin-top: 10px;
	}
	
	.loadingBiometrico{
   	 	width  : 11px;
   	 	height : 11px;
   	 	margin-top: 5px;
   	 	margin-right: 5px;
	}
	
	.contenedorLoadingBiometrico{
		margin-left: 11px;
	    margin-top: 3px;
	    margin-bottom: 3px;
    }
    
    .contenedorItemsBiometrico{
    	background-color: #F3F8FC;
	    border-radius: 5px 5px 5px 5px ;
	    -moz-border-radius: 5px 5px 5px 5px ;
	    -webkit-border-radius: 5px 5px 5px 5px ;
	    margin-left: 1%;
    }
   	.huellaStatus{
   		position: relative;
   		text-align: center;
   	}
   	
   	.box-bio-result {
	     position: relative;
	     height: 10px;
	     display: block;
	     width: 100%;
	     border-radius: 2px;
	     background-clip: padding-box;
	     margin: 0.5rem 0 0.6rem 0;
	     overflow: hidden;
	}

	.box-bio-result-success{
		background-color: #0687D7;
	}

	.box-bio-result-error{
		background-color: #A2243E;
	}
	
	.box-bio-result-preview{
		background-color: #DADEE0;
	}
   
   
    .progress-bio {
	     position: relative;
	     height: 10px;
	     display: block;
	     width: 100%;
	     background-color: #E4E4E4;
	     border-radius: 2px;
	     background-clip: padding-box;
	     margin: 0.5rem 0 0.5rem 0;
	     overflow: hidden;
	}

	.progress-bio .determinate {
	     position: absolute;
	     background-color: inherit;
	     top: 0;
	     bottom: 0;
	     background-color: #0687D7;
	     transition: width 1.9s linear;
	}

	.progress-bio .indeterminate {
	     background-color: #0687D7;
	}

	.progress-bio .indeterminate:before {
	     content: '';
	     position: absolute;
	     background-color: inherit;
	     top: 0;
	     left: 0;
	     bottom: 0;
	     will-change: left, right;
	     -webkit-animation: indeterminate 1.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	     animation: indeterminate 1.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	}
	 
	.progress-bio .indeterminate:after {
	     content: '';
	     position: absolute;
	     background-color: inherit;
	     top: 0;
	     left: 0;
	     bottom: 0;
	     will-change: left, right;
	     -webkit-animation: indeterminate-short 1.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	     animation: indeterminate-short 1.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	     -webkit-animation-delay: 1.15s;
	     animation-delay: 1.15s;
	}

	.cotenedor-bottom-resultado{
    	margin: 10px 2% 5px 2%;
	}

}