@import "../../valo/valo.scss";
@import "comboBox.scss";

@mixin botonQuiero{

  	.lytBotonQuiero {
  		padding-top: 21px !important;
  		padding-bottom: 8px !important;
  		padding-right: 5px !important;
  		padding-left: 5px !important;
  		border: 0px solid !important;
  		overflow-y:none;
  	}
  	
  	.v-window-closebox{
  		background-color: transparent;
  	}
  	

	
	.boton-item-quiero{
      	$background-inicio:#FFF;
      	$background-fin:#FFF;
      	color: #004C9F !important;
      	border-radius: 0px !important;
      	text-align:left !important;
      	
     	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
      	box-shadow: 0 1px 0 #FFF inset, 0 -1px 0 #FFF inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-bottom: 1px solid #D4D4D4 !important;
		border-top: 0px solid !important;
		border-left: 0px solid !important;
		border-right: 0px solid !important;
  	}

  	.boton-item-quiero:hover{
      	$background-inicio:#006ab4;
      	$background-fin:#0082c5;
      	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
      	box-shadow: 0 1px 0 #FFF inset, 0 -1px 0 #FFF inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-color: #0077c6 #0077c6 #0077c6 !important;
      	color: #FFF !important;
      	border-radius: 0px !important;
      	text-align:left !important;
  	}
  	
  	.boton-item-quiero:hover::before{
      	background-color: rgba(255, 255, 255, 0.05) !important;
      	border-radius: 0px !important;
      	border-bottom: 1px solid #D4D4D4 !important;	
		border-top: 0px solid !important;
		border-left: 0px solid !important;
		border-right: 0px solid !important;
		text-align:left !important;
  	}
  	
  	.lytBotonNuevoProducto {
  		padding-top: 19px !important;
  		padding-bottom: 8px !important;
  		padding-right: 5px !important;
  		padding-left: 5px !important;
  		border: 0px solid !important;
  		overflow-y:hidden !important;
  		width: 123px !important;
  	}
  	
}