@import "../../valo/valo.scss";
@import "comboBox.scss";

@mixin boton{

  	.btnEmpezar{
      	$background-inicio:#317C37;
      	$background-fin:#498C20;
     	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
      	box-shadow: 0 1px 0 #317C37 inset, 0 -1px 0 #498C20 inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-color: #317C37 #317C37 #498C20 !important;
  	}

  	.btnEmpezar:hover{
      	$background-inicio:#245C28;
      	$background-fin:#317C37;
      	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
      	box-shadow: 0 1px 0 #245C28 inset, 0 -1px 0 #317C37 inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-color: #245C28 #245C28 #317C37 !important;
  	}
  	
  	.btnEmpezar:hover::after{
      	background-color: rgba(255, 255, 255, 0.05) !important;
  	}
  	
  	.altaTc{
      	$background-inicio:#B2353E;
      	$background-fin:#B2353E;
     	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
       	box-shadow: 0 1px 0 #B2353E inset, 0 -1px 0 #B2353E inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-color: #B2353E #B2353E #B2353E !important;
  	}

  	.altaTc:hover{
      	$background-inicio:#B2353E;
      	$background-fin:#B2353E;
      	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
      	box-shadow: 0 1px 0 #B2353E inset, 0 -1px 0 #B2353E inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-color: #B2353E #B2353E #B2353E !important;
  	}
  	
  	.altaTc:hover::after{
      	background-color: rgba(255, 255, 255, 0.05) !important;
  	}
  	
  	.btnVerMas{
      	$background-inicio:#8BB0E3;
      	$background-fin:#CCDDF7;
     	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
      	box-shadow: 0 1px 0 #8BB0E3 inset, 0 -1px 0 #CCDDF7 inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-color: #8BB0E3 #8BB0E3 #CCDDF7 !important;
  	}
  	
  	.btnVerMas:hover::after{
      	background-color: rgba(255, 255, 255, 0.05) !important;
  	}


	.v-button-menu {
  		@include valo-button-style();
  		@include botones-hover2(false,#004B8C,#0069B1);
    }
    
    .v-button-quiero {
    	$azuloscuro2:#0079C1;
		$azulclaro2:#00559d;
    	$colorinicio:#DFDFDF;
    	$colorfin:#0069B1;
  		@include valo-button-style($font-color:$azuloscuro2);
  		@include botones-hover2(false,$colorincio,$colorfin);
  	}
  	
  	.v-general{
  		display: table !important;
  	}
  	
  	.v-barra-logo{
  		position:absolute !important;
  	}
  	
  	.v-inicio-home{
  		font-size: 24px !important;
  	}
  	
  	.v-boton-verde{
		$azuloscuro2:#498C20;
		$azulclaro2:#317C37;
			
    	@include valo-button-style($background-color:$azuloscuro2,$gradient:v-linear 10%,$font-weight: bold,$border-radius:5px);		
    	@include botones-hover2(true,#317C37,#245C28);
    		
  	 }
  	
	.v-button{
		$azuloscuro2:#0079C1;
		$azulclaro2:#00559d;
			
    	@include valo-button-style($background-color:$azuloscuro2,$gradient:v-linear 10%,$font-weight: bold,$border-radius:5px);		
    	@include botones-hover2(true,#004B8C,#0069B1);
    		
  	 }
  	 
  	 .v-button.v-disabled::after{
  	   	$background-inicio:#000;
  	   	$background-fin:#66ADD8;
  	   	@include placom-gradient($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);	
  	 }
  	 
  	.v-treetable [class*="caption-container-align-center"] {
        padding-left: 0 !important;
	}

    .v-table-sort-indicator {
		visibility:hidden !important;
    }

    .v-table-resizer{
	    width: 2px !important;
    }

    .v-table-sort-indicator {
	    display:none;
    }
    
    .notificacion-hoy .v-button-caption {
    	display:block;
    	background-color: #C8175E;
    	background-image: linear-gradient(to bottom, #1b87e3 2%, #166ed5 98%);
    	border-radius: 20px;
    	color: #FFF;
    	font-size: 10px;
    	line-height: 1;
    	min-width: 9px;
    	padding: 4px 4px;
    	pointer-events: none;
    	position: absolute;
    	left: 5px;
    	top: 6px;
    	z-index: 100;
	}

	.notificacion-hoy-ninguno .v-button-caption {
		display:none;
	}
	
	.oculto {
		display:none;
	}
	
	.margenVentana .v-customcomponent{
		margin:5% !important;
	}
	
	.boton-imprimir::after{
		box-shadow:none !important;  
	}
	
	.boton-imprimir:focus {
    	box-shadow: none !important;
	}
	
	.boton-imprimir:hover::after {
    	box-shadow: none !important;
	}
	
	.btnfancy {
		padding: 0 !important;
		border: solid 1px !important;
		border-color: #FFF !important;
	}
	
	.fancyEspacio .v-spacing{
		height:3px !important;
		
	}
	
	.fancyHorizontal .v-slot{
		border:solid 1px !important; 
		border-color:#FFF !important
	}
	
	.fancyHorizontal .v-link:focus::after{
		box-shadown:0px !important;
	}
  	 
  	
}

@mixin botones-hover2($boolean:true,$background-inicio:#FFF, $background-fin: #OOO){
		@if $boolean{
				&:hover{
					
					@include placom-gradient($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);
					box-shadow: 0 1px 0 #004B8C inset, 0 -1px 0 #0069B1 inset, 0 2px 3px rgba(0, 0, 0, 0.05);
				}
		}@else{
				&:hover{
					color:black;
					@include placom-gradient($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);		
				}
		}
}