@import "../../valo/valo.scss";

@mixin combo-box{

	$v-default-field-width:150px;
	$v-unit-size:28px;
	$v-font-weight:10;
	$v-textfield-background-color:#F5F7F8;
	$v-textfield-border-radius:5px;

	@include valo-combobox();
	//@include valo-textfield-prompt-style($background-color:#E2FAFE);
	@combo-disenio();
}

@mixin combo-disenio($primary-stylename:v-filterselect){
	&.#{$primary-stylename}-prompt .#{$primary-stylename}-input {
      @include valo-textfield-prompt-style($background-color:black);
   }
   
   .gwt-MenuItem {
    	@include valo-selection-item-style;
  	}
   .gwt-MenuItem-selected {
   		background-image: linear-gradient(to bottom, #E0F6FC 40%, #E0F6FC 60%);
	    
  	}
}