@import "../../valo/valo.scss";
@mixin combo{
	 /*asignar el degradado al comboBox*/
	 
	 .v-filterselect [class*="input"] {
        $background-color: #FFFFFF;
        $background-color2: #F6F8F9;
        $color-border:#d5e2ee;
    	@include placom-gradient($background-color2,$background-color, v-linear 18%,$background-color ,to top);
    	border: 1px solid $color-border;    	
    }
    
    /*asignar borde izquierdo al boton del comboBox*/
    .v-filterselect [class$="button"]{
    	$color-border:#d5e2ee;
    	border-left: 1px solid $color-border !important;
    	font-size:9px;    	
    }
    

	/*asignar color de fondo al seleccionar una opcion comboBox*/
	.v-filterselect-suggestpopup .gwt-MenuItem-selected{
		background-color: #E2FAFE !important;
		background-image: none;
		color:#000 !important;
	}
	
	/*para definir el borde inferior de cada celda*/
	.gwt-MenuItem{
		border-bottom: solid 1px;
		border-color:  #E1E1E1;
		color:#004C99;
	}
	
	/*quitar el border radius a ca elemento dentro del popup del combo*/
	.v-filterselect-suggestpopup .gwt-MenuItem{
		border-radius: 3px;
	}
	
	/*quitar el padding del popup del comboBox*/
	.v-filterselect-suggestpopup [class$="suggestmenu"]{
	 	padding: 0px !important;
	 	border-radius: 0px;
	}
	
	.v-filterselect-suggestpopup {
		margin-top: -1px;
	}

   
}

/*DEGRADADO PERSONALIZADO */
@mixin placom-gradient($color: $v-background-color,$color2: #FFF, $gradient: $v-gradient, $fallback: null, $direction: to bottom) { 
  @if $color {
    @if $gradient {
      $color-stops: placom-gradient-color-stops($color, $color2, $gradient);
      @include linear-gradient($direction, $color-stops, $fallback: $fallback);
    } @else {
      background: $fallback or $color;
    }
  }
 }
 
  @function placom-gradient-color-stops($color, $color2, $gradient: $v-gradient) { 
  $style:  valo-gradient-style($gradient);
  $opacity: valo-gradient-opacity($gradient);

  @if $style != none and $opacity > 0 {
    @if $style == v-linear or $style == v-linear-reverse {
      $start: $color;
      $end: blend-multiply($color2, $color2);

      @if $style == v-linear {
        @return $start 35%, $end 73%;
      } @else {
        @return $end 35%, $start 73%;
      }
    }
  }
    @return $color 0%, $color 100%;
 }
 
 //DEGRADADO PERSONALIZADO PARA BOTONES PERSONALIZADOS
 @mixin placom-gradient-importante($color: $v-background-color,$color2: #FFF, $gradient: $v-gradient, $fallback: null, $direction: to bottom) { 
  @if $color {
    @if $gradient {
      $color-stops: placom-gradient-color-stops($color, $color2, $gradient);
      @include linear-gradient2($direction, $color-stops, $fallback: $fallback);
    } @else {
      background: $fallback or $color;
    }
  }
 }
 
  @function placom-gradient-color-stops($color, $color2, $gradient: $v-gradient) { 
  $style:  valo-gradient-style($gradient);
  $opacity: valo-gradient-opacity($gradient);

  @if $style != none and $opacity > 0 {
    @if $style == v-linear or $style == v-linear-reverse {
      $start: $color;
      $end: $color2;

      @if $style == v-linear {
        @return $start 35%, $end 73%;
      } @else {
        @return $end 35%, $start 73%;
      }
    }
  }
    @return $color 0%, $color 100%;
 }
 
 @mixin linear-gradient2($pos, $G1, $G2: null,
                       $G3: null, $G4: null,
                       $G5: null, $G6: null,
                       $G7: null, $G8: null,
                       $G9: null, $G10: null,
                       $fallback: null) {
  // Detect what type of value exists in $pos
  $pos-type: type-of(nth($pos, 1));
  $pos-spec: null;
  $pos-degree: null;

  // If $pos is missing from mixin, reassign vars and add default position
  @if ($pos-type == color) or (nth($pos, 1) == "transparent")  {
    $G10: $G9; $G9: $G8; $G8: $G7; $G7: $G6; $G6: $G5;
     $G5: $G4; $G4: $G3; $G3: $G2; $G2: $G1; $G1: $pos;
     $pos: null;
  }

  @if $pos {
    $positions: _linear-positions-parser($pos);
    $pos-degree: nth($positions, 1);
    $pos-spec:   nth($positions, 2);
  }

  $full: $G1, $G2, $G3, $G4, $G5, $G6, $G7, $G8, $G9, $G10;

  // Set $G1 as the default fallback color
  $fallback-color: nth($G1, 1);

  // If $fallback is a color use that color as the fallback color
  @if (type-of($fallback) == color) or ($fallback == "transparent") {
    $fallback-color: $fallback;
  }

  background-color: $fallback-color;
  background-image: -webkit-linear-gradient($pos-degree $full) !important; // Safari 5.1+, Chrome
  background-image: unquote("linear-gradient(#{$pos-spec}#{$full})") !important;
}

 
 