@import "../../valo/valo.scss";
//ESTILOS PARA COMUNICADOS

$radius-default:1px;
$width-default:1px;

$color-negro:#000000;
$color-plomo:#DFDFDF;

@mixin comunicado {
	
  //ESTILOS PARA COMUNICADOS DE ESCRITURA	
  .expanding-area{
  	border:{
  		bottom-style:none !important;
  		right-style:none !important;
  		left-style:none !important;
  	}
  }
  
  .expanding-area-filtro{
  	background-color:$blanco !important;
  	@include border-fuente($color-plomo,1px,1px,none,solid,solid,none);
  }
  
  .expanding-area-acciones{
  	background-color:$blanco !important;
  	//@include border-fuente($color-plomo,2px,1px,solid,solid,solid,none);
  	//border-fuente($bottom-style:none,$left-style:none,$right-style:none,$top-style:none)
  	@include border-fuente($color-plomo,2px,1px,none,solid,solid,dashed);
  }
  
  .expanding-area-titulo{
  	background-color:$blanco !important;
  	@include border-fuente($color-plomo,2px,1px,none,solid,none,none);
  }
  
  //ESTILOS PARA COMUNICADOS DE SOLO LECTURA
  .v-layout-asunto{
  	background:#FFF !important;
  	padding-left: 10px !important;
  	padding-right:15px !important;
  	$color-borde:#e1e8ed;
	@include border-fuente-comunicado($color-borde,5px,1px,solid,solid,solid,solid);
	
	
  }
  
  .v-layout-asunto .v-spacing{
  	display: none;
  }
  
  .v-layout-color{
  background-color: black !important;
  }
  
  .v-layout-sin-asunto{
  	background:#FFF !important;
  	padding-left: 10px !important;
  	padding-right:15px !important;
  	$color-borde:#e1e8ed;
	@include border-fuente-comunicado($color-borde,5px,1px,solid,solid,solid,solid);
  }
  
  .v-texto-comentario{
  word-wrap: break-word!important;
  }
  
  .v-layout-sin-asunto .v-spacing{
  	display: none;
  }
  
  	.fancy-image img {
    height: 100% !important;
}
  
}

@mixin border-fuente($color:none,$radius:$radius-default,$width:$width-default,$bottom-style:none,$left-style:none,$right-style:none,$top-style:none){
	border:{
  		color:$color !important;
  		radius: $radius !important;
  		width:$width !important;
  		bottom-style: $bottom-style !important;
  		left-style: $left-style !important;
  		right-style: $right-style !important;
  		top-style: $top-style !important;
  	}
}

@mixin border-fuente-comunicado($color:none,$radius:$radius-default,$width:$width-default,$bottom-style:none,$left-style:display,$right-style:none,$top-style:none){
	border:{
  		color:$color !important;
  		width:$width !important;
  		bottom-style: solid !important;
  		left-style: $left-style !important;
  		right-style: $right-style !important;
  		top-style: $top-style !important;
  	}
}