@import "../../valo/valo.scss";

@mixin componente-confirmacion{
	
	.lblTituloConfirmacion {
		margin-left: 31.5%;
	}
	
	.lytConfirmacion{
		margin-left: 31.5%;
		padding-left: 4%;
	}
	
	.label-info-confirmacion{
	    border: 1px solid #f5fcfd;
	    border-radius: 5px;
    	background-color: #f3f8fc;
   	 	padding-bottom: 2%;
    	padding-top: 2%;
    	margin-left: 2%;
   		padding-left: 2%;
    	width: 96%;
	}
	
	.util-confirmacion-dato{
		margin-bottom: 2%;
	}
	
	.etiqueta-confirmacion{
		margin-left: 20%;
		font-weight:bold;
	}
	
}