@import "../../valo/valo.scss";
@mixin controladorProceso { 

	.lblContenedorControladorProceso{
		padding: 5px 0px 10px 0px;
	    border-bottom: 1px #e6e6e6 solid;
	    margin-bottom: 5px;
	    color: #000;
	    max-height: 50px;
	    position:relative;
	}
	
	.title-controlador{
		padding: 15px 0px 5px 15px;
	}
	
	.sub-title-controlador{
		width: 100%;
	    padding-left:15px;
	    color: #000;
	   
	}
	
	.contenedorControladorProceso{
		padding-top:10px;
	}
	
	.loadingControladorProceso{
   	 	width  : 11px;
   	 	height : 11px;
   	 	margin-top: 5px;
   	 	margin-right: 5px;
	}
	
	.contenedorLoadingControladorProceso{
		margin-left: 11px;
	    margin-top: 3px;
	    margin-bottom: 3px;
    }
    
    .contenedorItemsControlador{
    	background-color: #F3F8FC;
	    border-radius: 5px 5px 5px 5px ;
	    -moz-border-radius: 5px 5px 5px 5px ;
	    -webkit-border-radius: 5px 5px 5px 5px ;
	    padding: 10px; 
    }
    
    .contenedor-leyenda{
    	width:100%;
    	text-align:center;
    	padding:5px;
    	color: #999;
    }
   
   	.box-proceso-result {
	     position: relative;
	     height: 10px;
	     display: block;
	     width: 100%;
	     border-radius: 2px;
	     background-clip: padding-box;
	     margin: 0.5rem 0 1rem 0;
	     overflow: hidden;
	}

	.box-proceso-result-success{
		background-color: #0687D7;
	}

	.box-proceso-result-error{
		background-color: #A2243E;
	}
	
	.box-proceso-result-preview{
		background-color: #DADEE0;
	}
   
    .progress {
	     position: relative;
	     height: 10px;
	     display: block;
	     width: 100%;
	     background-color: #E4E4E4;
	     border-radius: 2px;
	     background-clip: padding-box;
	     margin: 0.5rem 0 1rem 0;
	     overflow: hidden;
	}

	.progress .determinate {
	     position: absolute;
	     background-color: inherit;
	     top: 0;
	     bottom: 0;
	     background-color: #0687D7;
	     transition: width 1.9s linear;
	}

	.progress .indeterminate {
	     background-color: #0687D7;
	}

	.progress .indeterminate:before {
	     content: '';
	     position: absolute;
	     background-color: inherit;
	     top: 0;
	     left: 0;
	     bottom: 0;
	     will-change: left, right;
	     -webkit-animation: indeterminate 1.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	     animation: indeterminate 1.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	}
	 
	.progress .indeterminate:after {
	     content: '';
	     position: absolute;
	     background-color: inherit;
	     top: 0;
	     left: 0;
	     bottom: 0;
	     will-change: left, right;
	     -webkit-animation: indeterminate-short 1.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	     animation: indeterminate-short 1.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	     -webkit-animation-delay: 1.15s;
	     animation-delay: 1.15s;
	}

	.cotenedor-bottom-resultado{
    	margin: 10px 2% 5px 2%;
	}

}