@import "../../valo/valo.scss";
@import "preEvaluador.scss";

.v-table .v-table-cell-content-cotizacionPropia {
    background-color: #FFFF00;
}

.v-table .v-selected .v-table-cell-content-cotizacionPropia {
    background-color: #FFD700;
}

@mixin cotiza2 { 
	.margen-tres{
		margin:2%;
	}
	
	.posicion-center{
		top:41px !important;
	}
	
	.margen-izquierdo-ocho{
		margin-left:8%;
	}
	
	.margen-izquierdo-seis{
		margin-left:6%;
	}
	
	.margen-izquierdo-cinco{
		margin-left:5%;
	}
	
	
	.cotiza .v-caption{
  		margin-top:1% !important;
  		background-color:white;
    	color : #OOO;
  	}
  	.cotiza .titulo-Cotiza{
  		text-align: center;
  		font-weight: bold;
  	}
  	
  	.cuadro-bandeja-accion{
  		text-align: right;
  	}
  	.cuadro-bandeja-accion-actualizar{
  		text-align: right;
  		float:right;
  	}
  	
	.cotiza-titulo-principal{
		color: #025498;
		font-weight: bold;
	}
	
	.cotiza .centrar-titulo{
		text-align:center;
	}
	
	.cotiza .derecha-titulo{
		text-align:right;
	}
	.flotar-izquierda{
		float:left;
	}
	
	.margen-superior{
		margin-top: 1%;
	}
	
	.margen-superior-dos{
		margin-top: 2%;
	}
	
	.margen-superior-tres{
		margin-top: 3%;
	}
	
	.borde-superior{
		border-top: solid 1px #e4e4e4;
	}
	
	.margen-izquierdo{
		margin-left: 1%;
	}
	
	.margen-derecho-boton-bandeja{
		margin-right: 0.5%;		
	}
	
	.margen-inferior-boton-bandeja{
		margin-bottom: 0.5%;		
	}
	
	.margen-derecho-boton-bandeja-tres{
		margin-right: 3%;
	}
	
	.margen-izquierdo-tea-aprobada{
		margin-left: 1%;
	}
	
	.margen-izquierdo-regular{
		margin-left: 10px;
	}
	
	.margen-izquierdo-di{
		margin-left: 10%;
	}
	
	.margen-derecho-desembolso{
		margin-right: 10%;
	}
	
	.margen-superior-di{
		margin-top: 2%;
	}
	
	.margen-separacion-tres{
		margin-right: 3%;
	}
	
	.margen-separacion-dos{
		margin-right: 3%;
	}
	
	.margen-derecho{
		margin-right: 1%;
	}
	
	.cotiza .font-negrita{
		font-weight: bold;
	}
	
	.padding-superior{
		padding-top: 1%;
	}
	
	.padding-top-cuatro{
		padding-top:4%;
	}
	
	.padding-bottom-cuatro{
		padding-bottom:3%;
	}
	
	.padding-inferior-modificaciones{
		padding-top: 8%
	}
	
	.padding-inferior-comentarios{
		padding-top: 40%
	}
	
	.padding-izquierdo{
		padding-left: 24px;
	}
	
	.padding-inferior{
		padding-bottom: 10px;
	}
	
	.padding-izquierdo-dos{
		padding-left: 2%;
	}
	
	.padding-derecho{
		padding-right: 10%;
	}
	
	.padding-derecho-dos{
		padding-right: 4%;
	}
	
	.cotiza .cotiza-ver-componente{
		display: none;
	}
	
	.radio-button-horizontal {
		width: 100%;
    	display: flex;
    	padding-bottom: 4px;
	}
	
	.radio-button-lpdp {
		float: left;
    	display: flex;
    	padding-bottom: 4px;
	}
	
	.radio-button-vertical{
    	display: inline;
	}
	.bandeja-cotiza-scroll{
		overflow:auto;
	}
	
	.cotiza-tabla-scroll{
		overflow:inherit;
	}
	
	.cotiza-tabla-scroll-adjuntos .v-table-body{
		height:266px !important;
	 }
	
	.cotiza-tabla-scroll-adjuntos .v-table-body > div{
		overflow-x:hidden !important;
		overflow-y:auto !important;
	}
	
	.tarjeta-tabla-movimientos .v-table-body{
		height:430px !important;
	 }
	
	.cotiza-cuadro-borde-redondeado {
		border: solid 1px #c9c9c9;
		border-radius:3%;
		padding:3%;
	}
	
	.cotiza-borde-superior{
		border-top: solid 1px #c9c9c9;
	}
	
	.cotiza-padding-tres-centrado-texto{
		padding:3%;
		text-align: center;
	}
	
	.cotiza-borde-separacion{
		border-right: solid 1px #c9c9c9;
		padding-right: 2%;
	}
	
	.cotiza-texto-zindex100{
		z-index:100;
	}
	
	.cotiza-texto-subrayado  .v-button-caption{
		text-decoration:underline;
	}
	.cotiza-label-vigente{
		color:green;
	}
	.cotiza-label-vencido{
		color:red;
	}
	
	.cotiza-label-azul{
		color:#1565c0;
	}
	
	.cotiza-label-negrita{
		font-weight: bold;
	}
	
	.margen-boton-ficha{
		margin-right: 2%;
		margin-top: 1.5%;
	}
	
	.cotiza-label-font-size{
		font-size: 8px;
		color:blue;
	}
	
	.cotiza-label-font-size-9{
		font-size: 9px;
		color:blue;
	}
	
	.feedbackRadioButton span{
		margin: 0px !important;
		padding: 0px !important; 
		line-height: 0px !important;
		width: 20%;
		text-align: center;
	}
	
	.feedbackRadioButton span > input{
		position: unset !important;
		
	}
	
	.feedbackRadioButton span > label{
		display: none !important;
		
	}
	
	.feedbackRadioButton{
		height:21px;
		padding: 0px !important;
	}

	.ajustarLayout{
		display: block;
	}
	
}