@import "../../valo/valo.scss";
@import "comboBox.scss";

@mixin detalleOferta {
	.cuadro-datos-basico{
		width: 98% !important;
		margin:{
			left: 5px !important;
			right: 0px !important;
			bottom: 10px !important;
		}
    	padding:{
    		top: 10px !important;
    		bottom: 10px !important;
    	}
    	box-shadow: 3px 3px 5px #ABA7A7 !important;
	}
	
	.etiqueta-indicador-centralizada{
		@include generar-cuadro-sombra(#F2F2AE);		
	}
	.etiqueta-indicador-moi{
		@include generar-cuadro-sombra(#AAD794);
	}
	.etiqueta-indicador-manual{
		@include generar-cuadro-sombra(#FFFFFF);
	}	
	.cuadro-datos-oferta{
		@include padding-generico-cuadro;
	}
	
	.cuadro-oferta-centralizada{		
		@include padding-generico-cuadro;
	}
	.cuadro-oferta-manual{		
		@include padding-generico-cuadro;
	}
	
	.cuadro-oferta-moi{		
		@include padding-generico-cuadro;
	}
	
	.cuadro-respuesta-moi{
		text-align: center;
		//border-left: 2px #E1E8ED dashed;
		@include padding-generico-cuadro;
	}
	
	.cuadro-accion{
	    text-align: right;
	    border-left: 1px #E1E8ED dashed;
	    float: right;
	}	
	.cuadro-accion .botones{ margin-left: 3%; }
	
	.tag-detalle-default{
		//@include generar-gradient(#FFFFFF, #FFFFFF);//#0079C1, #8EB2E4
		//@include generar-border(#E1E8ED);
	}
	
	.tag-detalle-default-derecha{
		//@include generar-border(#E1E8ED);
		//float: right;
	}
	
	.detalleOfertaEstilo{
		min-height:200px;
		max-height:578px;
		overflow: auto;
	}
	
	.tag-detalle-azul{
		//@include generar-gradient(#FFFFFF, #FFFFFF);//#0079C1, #8EB2E4
		//@include generar-border();
	}
	
	.tag-detalle-verde{
		//@include generar-gradient(#FFFFFF, #FFFFFF);//#AAD794, #D0F1C0
		//@include generar-border(#AAD794);
	}
	
	.tag-detalle-rojo{
		//@include generar-gradient(#FFFFFF, #FFFFFF);//#AAD794, #D0F1C0
		@include generar-border(#C84074);
	}
	
	.etiqueta-titulo{
		padding-left: 5px !important;
	}
	
	.inicio-de-linea-izquierda{
		clear: left;
	}
	
	.titulo-de-cuadro{
		color: #0065B7;
		float: left;
	}
		
	//.basico-nombre{ @include tamanio-tag(300px); }
	//.basico-telefono{ @include tamanio-tag(546px); }
	
	//.basico-oficina{ @include tamanio-tag(180px); }
	//.basico-pago-habiente{ @include tamanio-tag(117px); }
	//.basico-rango-sueldo{ @include tamanio-tag(180px); }
	//.basico-prioridad{ @include tamanio-tag(180px); }
	//.basico-flujo{ @include tamanio-tag(180px); }
	
	//.basico-gestor-asignado{ @include tamanio-tag(300px); }
	//.basico-producto-ofrecer{ @include tamanio-tag(240px); }
	//.basico-verificacion-laboral{ @include tamanio-tag(150px); }
	//.basico-verificacion-domicilio{ @include tamanio-tag(150px); }
	
	//.basico-oferta-monto-moi{ @include tamanio-tag(50%); }

	.basico-oferta-fila-moi{    
	 	float: left;
		padding-top: 4px;
	}
	
	//.basico-oferta-tasa-moi-1{ @include tamanio-tag(15%); }
	//.basico-oferta-tasa-moi-2{ @include tamanio-tag(17%); }
	//.basico-oferta-estado-moi{ @include tamanio-tag(49%); }
	//.basico-oferta-fecha{ @include tamanio-tag(58%); }
	
	//.basico-oferta-monto{ @include tamanio-tag(45%); }
	//.basico-oferta-plazo{ @include tamanio-tag(30%); }
	//.basico-oferta-tasa{ @include tamanio-tag(23%); }
	//.basico-oferta-fecha{ @include tamanio-tag(180px); }
	//.basico-oferta-estado{ @include tamanio-tag(51%); }
}

@mixin generar-cuadro-sombra($color-borde: #8EB2E4){
	width: 99% !important;
	border-left: 10px $color-borde solid !important;
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
	box-shadow: 3px 3px 5px #ABA7A7 !important;
}

@mixin padding-generico-cuadro{
	padding:{
		//left: 5px !important;
    	right: 5px !important;
    	top: 5px !important;
    	bottom: 5px !important;
    }
}

@mixin tamanio-tag($width: 180px){
	width: $width !important;
    text-align: center !important;    
}

@mixin generar-border($color-borde: #8EB2E4) {
	float: left;
	font-weight: bold;
	margin-rigth: 3px !important;
	margin-bottom: 3px !important;
	padding:{
		left: 5px;
		rigth: 5px;
		top: 5px;
		bottom: 5px;
	}
	border: 1px solid; 
	border-radius:5px;  
	border-color:$color-borde;
	display: table-row;
}

@mixin generar-gradient($background-primario: #59C000, $background-secundario: #65D800){
	@include placom-gradient-importante($background-primario, $background-secundario, v-linear 20%, $background-secundario , to top);
}