@import "../../valo/valo.scss";
@import "comboBox.scss";
@include font-source-bbvaweb;
//Coleres a usar para el formato de pic

$letra-blanco:#FFFFFF;
$letra-negra:#000000;
$azul-fondo-pic:#6B9EC5;
$cabecera-novedades:#BDBABD;
$cabecera-comunicados:#DEDFC5;
$cabecera-campania:#295DA5;
$cabecera-calendario:#295DA5;

$fondo-normal:#FFFFFF;
$fondo-comunicado:#FFFFCE;

@mixin estilopic {
	
	//.estilo-pic{
   		//background-color: $azul-fondo-pic;
   	//}
   	.panel-calendar{
   		//@include style-panel-pic($cabecera-calendario,$fondo-normal,$letra-blanco);
   		@include degradado;
   		width:100% !important;
    	.v-panel-content > .v-margin-top {
    		padding-top: 30px !important;
		}
   	}   		
   	.panel-novedades{
   		//@include style-panel-pic($cabecera-novedades,$fondo-normal,$letra-negra);		
   		@include degradado;
	}
	.panel-comunicado{
		//@include style-panel-pic($cabecera-comunicados,$fondo-comunicado,$letra-negra);
		@include degradado;
	}
	.panel-campania{
		//@include style-panel-pic($cabecera-campania,$fondo-normal,$letra-blanco);		
		@include degradado;	
	}
	.panel-general{
		//@include style-panel-pic($cabecera-campania,$fondo-normal,$letra-blanco);		
		@include degradado;	
	}
	.panel-ficha-persona{
   		//@include style-panel-pic($cabecera-calendario,$fondo-normal,$letra-blanco);
   		@include degradado;
    	.v-panel-content > .v-margin-top {
    		padding-top: 30px !important;
		}
   	}
   	.margin-boton-sms-descarga-bm{
   		margin-left:3px;
   	}  
   	.padding-content-sms-descarga-bm{
   		padding:8px;
   	}  
   	.padding-content-item-sms-descarga-bm{
   		padding:3px;
   	} 
   	.margin-left-descarga-manual-bm{
   		margin-left:2%;
   	}  
	.sin-margen-superior{
		padding-top: 1px !important;
	}
	.sin-margen-izquierdo{
		padding-left: 1px !important;
	}
	.con-margen-superior{
		padding-top: 28px !important;
	}
}

@mixin style-panel-pic($cabecera-color,$background-color,$color-font){
	$v-background-color:$cabecera-color;
	@include valo-panel();
	.v-panel-content {
		@include valo-panel-style($background-color : $background-color);			
	}
	.v-panel-caption {
		text-align: center;
		color: $color-font;
		@include fuentes(Stag Sans,book,14px);			
	}
}

@mixin fuentes($style:Stag Sans,$weight:normal,$size:12px){
	font:{
		style:$style;
		weight:$weight;
		size:$size;
	}	
}

@mixin degradado(){
	@include font-source-bbvaweb;
	.v-panel-caption {
	$font-family:$fuente-banco;
     font-family: $font-family !important;
	 color:white;
	 font-size:12px;
	 $background-color: #0065BA;
	 @include valo-gradient($background-color, v-linear 18%, to top);			
	}
	
}

