
@mixin experienciaUnica {

.pizarraGridExpUni .v-gridlayout-slot {
//border-width: 1px;
	border-color: #004040;
// 	border-style: solid; 
// 	border-width: 1px; 
	width: 65px;
	text-align: left;
}
	
.pizarraGridExpUni .v-table-cell-wrapper {
//border-style: solid;		
	border-width: 1px;
	width: 74px;
}
.pizarraGridExpUni .v-table-cell-content{
// 	height: 8px; 
}
.pizarraLabel {
	width: 73px;
	height: 20px;
	background-color: #ffffff;
	border-width: 0.4px;
	border-style: inset;
	font-size: 12px;
	text-align: center;
}
.pizarraLabel2do {
	height: 3em;
	line-height: 1.5em;
	overflow: hidden;
	width: 45px;
	background-color: #1e64b9;
	border-width: 1px;
	color: white;
	border-style: solid;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}
.pizarraLabel2doRG {
	height: 3em;
	line-height: 1.5em;
	overflow: hidden;
	width: 45px;
	background-color: #F5A623;
	border-width: 1px;
    border-color: #979797;
	color: #ffffff;
	border-style: solid;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.pizarraLabelTotales {
	height: 20px;
	border-width: 1px; 
 	color: #4A4A4A; 
	border-style: ridge;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	background-color: #F4F7F5;
    box-shadow: 0 0 0 1px #E5E5E5;
    border: 1px solid #D4D4D4;
}

.pizarraLabelTitulo{
	background-color: #d7d171;
	border-width: 1px;
	border-style: solid;
	font-size: 12px;
	text-align: center;
}
.pizarraTextCompromiso[class*="v-textfield"] {
 	background-color: #ffffff; 
 	color: #4A4A4A; 
	font-size: 12px;
	text-align: center;
	border-color: #e2e1e1;
	width: 65px;
	height: 23px;
}

.pizarraTextReal[class*="v-textfield"] {
 	background-color: #ffffff; 
	font-size: 12px;
	text-align: center;
	border-color: #e2e1e1;
	width: 65px;
	height: 23px;
}
.v-textfield{
// 	background: #d7d171; 
// 	background-color: #3CBC8D; 
}

.v-textfield-mystyleText[class*="v-textfield"]{
// 	 background: #d7d171;  
// 	 background-color: #3CBC8D;  
// 	font-size: 12px; 
// 	text-align: center; 
}

.pizarraTableEjecutivo  {
	text-align: left;
	width: 200px;
//  	height: 20px;   
	text-align: left;
//  	vertical-align: middle; 
}
	
.pizarraTableEjecutivo .v-table-caption-container {
	font-size: 11px;
	text-align: left;
//  	width: 150px;  
//   	height: 10px;   
///   	vertical-align: middle;  
//  	height: 20px;  
	    
}
	
.pizarraTableEjecutivo .v-table-cell-wrapper {
// 	font-size: 11px; 
// 	text-align: left; 
 	width: 230px;  
   	height: 21px; 
// 	text-align: left; 
//  	vertical-align: middle; 
// 	width: 34px; 
// 	height: 20px; 
}
.pizarraTableEjecutivo .v-table-cell-content{
	height: 2px;  
// 	vertical-align: middle;  
}

.pizarraTableEjecutivo span.v-button-caption{
	vertical-align: super;
	text-align: left;
}

.pizarraLabelTituloCat {
	background-color: #d7d171;
	border-width: 1px;
	border-style: solid;
	width: 200px;
	font-size: 12px;
	text-align: left;	
}

.pizarraLabelTituloIzq{
	height: 3em;
// 	line-height: 1.5em; 
// 	overflow: hidden; 
	background-color: #1e64b9;
	border-width: 1px;
	color: white;
	/*width: 280px;*/
	border-style: solid;
	font-size: 13px;
	text-align: left;
	vertical-align: middle; 
	font-weight: bold;
	
}

.pizarraLabelFilaCR {
	width: 200px;
	height: 20px;
	background-color: #ffffff;
	border-width: 0.4px;
	border-style: inset;
	font-size: 12px;
	text-align: center;
}

.pizarraTxtVarSupera {

	//background-image: linear-gradient(to top left, rgba(134, 200, 45,1) 10%, rgba(134, 200, 45,0.30) 90%);
	//background-image: -webkit-linear-gradient(to top left, rgba(134, 200, 45,1) 10%, rgba(134, 200, 45,0.30) 90%) !important; // Safari 5.1+, Chrome
    //background-image: unquote("linear-gradient(to top left, rgba(134, 200, 45,1) 10%, rgba(134, 200, 45,0.30) 90%)") !important;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	height: 22px;
	top: 0;
	left: 0;
	vertical-align: middle;
	//color: black;
	color: green;
	background-color: #ffffff;
	border: 1px solid #D4D4D4;
	//border-width: 1px;
	//border-style: ridge;
	position: initial;
	display: table-cell;
	width: 70px;

}

.pizarraTxtVarCumple {
	//background-image: linear-gradient(to top left, rgba(253, 212, 45,1) 10%, rgba(253, 212, 45,0.30) 90%);
	//background-image: -webkit-linear-gradient(to top left, rgba(253, 212, 45,1) 10%, rgba(253, 212, 45,0.30) 90%) !important; // Safari 5.1+, Chrome
    //background-image: unquote("linear-gradient(to top left, rgba(253, 212, 45,1) 10%, rgba(253, 212, 45,0.30) 90%)") !important;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background-color: #ffffff;
	height: 22px;
	top: 0;
	left: 0;
	vertical-align: middle;
	//color: black;
	//color: #0065B7;
	color: blue;
	border: 1px solid #D4D4D4;
	//border-width: 1px;
	//border-style: ridge;
	display: table-cell;
	width: 70px;

}

.pizarraTxtVarDebajo {
	//background-image: linear-gradient(to top left, rgba(237, 28, 36,1) 10%, rgba(237, 28, 36,0.30) 90%);
	//background-image: -webkit-linear-gradient(to top left, rgba(237, 28, 36,1) 10%, rgba(237, 28, 36,0.30) 90%) !important; // Safari 5.1+, Chrome
    //background-image: unquote("linear-gradient(to top left, rgba(237, 28, 36,1) 10%, rgba(237, 28, 36,0.30) 90%)") !important;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	height: 22px;
	top: 0;
	left: 0;
	vertical-align: middle;
	//color: black;
	color: red;
	background-color: #ffffff;
	border: 1px solid #D4D4D4;
	//border-width: 1px;
	//border-style: ridge;
	display: table-cell;
	width: 70px;

}

.pizarraTxtVarIndiferent {
	background-color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	height: 23px;
	top: 0;
	left: 0;
	vertical-align: middle;
	color: black;
	border: 1px solid #D4D4D4;
	//border-width: 1px;
	//border-style: ridge;
	display: table-cell;
	width: 68px;

}

.pizarraVarTotalesSupera {
	height: 20px;
	background-color: #f4f7f5;
	//background-image: linear-gradient(to top left, rgba(134, 200, 45,1) 10%, rgba(134, 200, 45,0.30) 90%);
	//background-image: -webkit-linear-gradient(to top left, rgba(134, 200, 45,1) 10%, rgba(134, 200, 45,0.30) 90%) !important; // Safari 5.1+, Chrome
    //background-image: unquote("linear-gradient(to top left, rgba(134, 200, 45,1) 10%, rgba(134, 200, 45,0.30) 90%)") !important;
	border-width: 1px;
	//color: black;
	color: green;
	border-style: ridge;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 68px;
	box-shadow: 0 0 0 1px #E5E5E5;
    border: 1px solid #D4D4D4;
    
}

.pizarraVarTotalesCumple {
	height: 20px;
	background-color: #f4f7f5;
	//background-image: linear-gradient(to top left, rgba(253, 212, 45,1) 10%, rgba(253, 212, 45,0.30) 90%);
	//background-image: -webkit-linear-gradient(to top left, rgba(253, 212, 45,1) 10%, rgba(253, 212, 45,0.30) 90%) !important; // Safari 5.1+, Chrome
    //background-image: unquote("linear-gradient(to top left, rgba(253, 212, 45,1) 10%, rgba(253, 212, 45,0.30) 90%)") !important;
	border-width: 1px;
	//color: black;
	color: blue;
	border-style: ridge;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 68px;
	box-shadow: 0 0 0 1px #E5E5E5;
    border: 1px solid #D4D4D4;
}

.pizarraVarTotalesDebajo {
	height: 20px;
	//background-image: linear-gradient(to top left, rgba(237, 28, 36,1) 10%, rgba(237, 28, 36,0.30) 90%);
	//background-image: -webkit-linear-gradient(to top left, rgba(237, 28, 36,1) 10%, rgba(237, 28, 36,0.30) 90%) !important; // Safari 5.1+, Chrome
    //background-image: unquote("linear-gradient(to top left, rgba(237, 28, 36,1) 10%, rgba(237, 28, 36,0.30) 90%)") !important;
    background-color: #f4f7f5;
	border-width: 1px;
	//color: black;
	color: red;
	border-style: ridge;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 68px;
	box-shadow: 0 0 0 1px #E5E5E5;
    border: 1px solid #D4D4D4;
}

.pizarraVarTotalesIndiferent {
	height: 20px;
	background-color: #F4F7F5;
	border-width: 1px;
	color: black;
	border-style: ridge;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 68px;
	box-shadow: 0 0 0 1px #E5E5E5;
    border: 1px solid #D4D4D4;
}

.pizarraLabelEtiquetaTot {
	width: 45px;
	background-color: #0065B7;
	border-width: 1px;
	color: white;
	/* width: 280px; */
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #F4F7F5;
	box-shadow: 0 0 0 1px #E5E5E5;
	border: 1px solid #D4D4D4;
	color: #0065B7;

}
.pizarraBtnListaIzquierda {
	width: 73px;
	height: 20px;
	background-color: #ffffff;
	border-width: 0.4px;
	border-style: inset;
	font-size: 12px;
	text-align: left;
}
.pizarraLblListaIzquierda {
	font-size: 12px;
	font-weight: bold;
    height: 23px;
    border-width: 1px;
    /* 	width: 350px; */
    font-size: 11px;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 0 0 0 1px #E5E5E5;
    border: 1px solid #D4D4D4;
    color: #0065B7;
}

.campoCancelaciones { 
	background-color: #F3D7DE; 
	width:120px; 
}

.campoCancelaciones:focus { 
	background-color: #F3D7DE; 
	width:120px;
}

.labelsCabeceraResumen {
  	font-weight: bold;
 //	font-family: BBVAWebBook-Regular;
	font-size: 11px;
    color: #4A4A4A;
}

.bordeFiltro {
	border-radius: none;
	border: 2px solid #e1e1e1;
	margin-left: 10px;
 }

#vtlLytFiltro1 input[type = "radio"]:checked + label {
	font-weight: bold;
}

.formatoCompromiso {
	font-weight: bold;
	color: #0079C1;
	padding-left:8px;
 }

.btnAccion{
      	$background-inicio:#317C37;
      	$background-fin:#498C20;
     	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
      	box-shadow: 0 1px 0 #317C37 inset, 0 -1px 0 #498C20 inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
      	border-color: #317C37 #317C37 #498C20 !important;
}

.btnAccion:hover{
  	$background-inicio:#245C28;
  	$background-fin:#317C37;
  	@include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top); 
  	box-shadow: 0 1px 0 #245C28 inset, 0 -1px 0 #317C37 inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
  	border-color: #245C28 #245C28 #317C37 !important;
}

.btnAccion:hover::after{
  	background-color: rgba(255, 255, 255, 0.05) !important;
}

.v-layout-leyenda{
	background: #FFF !important;
	padding-left: 10px !important;
	/*padding-right: 15px !important;*/
	border-color: #e1e8ed !important;
	border-width: 1px !important;
	border-bottom-style: solid !important;
	border-left-style: solid !important;
	border-right-style: solid !important;
	border-top-style: solid !important;
	margin-left: 30px;
}
.v-layout-leyenda .v-spacing {
	display: none;
}

.textoDerecha{
	text-align:right !important;
}

.paddingDerechoTotales{
	padding-right: 8px;
}

.v-table .v-table-cell-content-recursosGestionados {
	//background-color: #e5e5e5;//#C84074;//
	//color: #009ee5;
	//color: #000000;
	color: #F5A623;
}

.pizarraAcumuladaLabel1ro {
//	width: 45px; 
// 	background-color: #0065B7; 
// 	border-width: 1px; 
	color: #0065B7;
	font-size: 13px;
	height: 1.5em; 
    line-height: 1.5em;
	text-align: left;
// 	vertical-align: middle; 
	font-weight: bold;
//	background-color: #F4F7F5;
//	box-shadow: 0 0 0 1px #E5E5E5;
// 	border: 1px solid #D4D4D4; 
// 	color: #0065B7; 
}

.pizarraAcumuladaTituloLb2do {
// 	height: 3em; 
// 	line-height: 1.5em; 
// 	overflow: hidden; 
	background-color: #1e64b9;
	border-width: 1px;
	color: white;
	border-style: solid;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	box-shadow: 0 0 0 1px #E5E5E5;
	height: 3em;
}

.pizarraAcumuladaLabel2do {
// 	height: 3em; 
// 	line-height: 1.5em; 
// 	overflow: hidden; 
	background-color: #1e64b9;
	border-width: 1px;
	color: white;
	border-style: solid;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	box-shadow: 0 0 0 1px #E5E5E5;
	height: 3em;
	line-height: 1.3em;
}

 .pizarraAcumuladaListaIzq {
// 	width: 73px; 
	height: 20px;
// 	background-color: #ffffff; 
// 	border-width: 0.4px; 
// 	border-style: inset; 
	font-size: 11px;
    text-align: left;
    font-weight: bold;
}

.bordeCabeceraGrteOficinDelPiz {
	margin-left: 30px;
}

.pizarraDatosGrteDelegacion {
	//font-family: BBVAWebBook-Regular;
    font-size: 11px;
    color: #4A4A4A;
}
.bordeTuberiaAACC {
	border-radius: 10px;
	border: 2px solid #e1e1e1;
	background-color: #E0F6FC;
	/*width: 300px;*/
}

.tuberiaTituloAACC{
	//font-family: BBVAWebBook-Regular;
	font-size: 14px;
	color: #4A4A4A;	
	text-align: center;
	font-weight: bold;
}
.bordeResumenDiarioPizarra {
	background: #E0F5FC;
	border: 1px solid #D8D8D8;
	border-radius: 6px;
}
.lblResTituloDiarioPizarra {
// 	font-family: Arial-BoldMT; 
	font-size: 14px;
	font-weight: bold;
	margin-left: -10px;
	text-align: center !important;
}
.lblResTituloDiarioPizarraCenter {
// 	font-family: Arial-BoldMT; 
	font-size: 14px;
	font-weight: bold;
// 	margin-left: -10px; 
	margin-left: -15px;
    text-align: center;
}
.lblResSubTitDiarioPizarra {
	color:  #474747;
	text-align: center;
	font-size: 12px;
}
 
.lblResNroDiarioPizarra {
	//font-family: BBVAWebBook-Regular;
	font-size: 16px;
	color: #007CC0;
	font-weight: bold;
	text-align: center;
}

.tuberiaTxtAACCNormal[class*="v-textfield"]  { 
	background: white;
    border: 1px solid #C9C9C9;
    color: black;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
}

.tuberiaTxtAACCGuardado[class*="v-textfield"]  { 
	background: #F4F7F5;
    border: 1px solid #C9C9C9;
    color: #9a9a9a;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
}

.v-buttonMensaje[class*="v-button"] {
 	height: 28px;
	padding: 0 14px;
	color: #e6f1f8;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid #C4195F;
	/*border-top-color: #C4195F;
	border-bottom-color: #C4195F;*/
	background-color: red;
	background-image: -webkit-linear-gradient(-180deg, #CDA1B4 0%, #CB8AA5 17%, #C4195F 100%);
	background: -moz-linear-gradient(-180deg, #CDA1B4 0%, #CB8AA5 17%, #C4195F 100%);
	background-image: linear, -180deg, #CDA1B4 0%, #CB8AA5 17%, #C4195F 100%;
	-webkit-box-shadow: inset 0 1px 0 #C4195F, inset 0 -1px 0 #C4195F, 0 2px 3px rgba(0, 0, 0, 0.05);
}

.bbva .labelsMensajeError {
	font-size: 11px;
	color: #C84074;
	font-weight: bold;
}

.labelsIconoError[class*="v-label"] {
    color: #C84074;
    background-color: red;
    font-style: Stag Sans;
    font-weight: book;
    font-size: 12px;
}

.bordeTuberiaAACCMensaje {
	background: #F9EEEE;
	border: 1px solid #F5CBDF;
	border-radius: 6px;
}

.lytRegistrarVisitas{
		float: left; 
		margin-top: 4px !important;
		padding: 5px 5px 5px 5px; 
}
.btnLimpiarFiltrosVisitas {
	margin-left: 22px
}

.radio-seleccionTipoVisita .v-select-optiongroup .v-select-option {
	display: inline-block !important;
	clear: both;
}

.radio-seleccionTipoVisita .v-select-optiongroup {
	white-space: nowrap;
	vertical-align: middle;
	border: 2px solid;
    border-radius: 5px;
    border-color: #b9b5b5;
    padding: 8px 8px 8px 8px;
	
}

.radio-seleccionTipoVisita .v-select-optiongroup .v-select-option.v-radiobutton {
	padding-right: 10px !important;
}

.labelsCabeceraResumenVisita {
  	font-weight: bold;
 //	font-family: BBVAWebBook-Regular;
	font-size: 13px;
    color: #4A4A4A;
}

.bordeTuberiaAACCCont {
	border-radius: 10px;
	border: 2px solid #e1e1e1;
	/*background-color: #E0F6FC;*/
	/*width: 300px;*/
}

}
