@import "../../valo/valo.scss";
@mixin feedbackTelefono{ 
	.feedbackRadioButton span{
		margin: 0px !important;
		padding: 0px !important; 
		line-height: 0px !important;
		width: 20%;
		text-align: center;
	}
	
	.feedbackRadioButton span > input{
		position: unset !important;
		
	}
	
	.feedbackTelefono .titulo{
		text-align: center;
		width: 100%;
    	font-weight: bold;
    	color: #005f98;
    	text-align: center;
    	border-left: solid 1px #EEEEEE;
	}
	
	.feedbackTelefono .titulo-telefono{
		width: 100%;
    	font-weight: bold;
    	color: #005f98;
	}
	
	.feedbackRadioButton .contenedorContenido{
		min-height: 64px;
		max-height: 300px;
		overflow:auto;
	}
	
	.feedbackRadioButton span > label{
		display: none !important;
		
	}
	
	.feedbackRadioButton{
		height:21px;
		padding: 0px !important;
	}
}