@import "../../valo/valo.scss";

@import "comboBox.scss";


$color-subtitulo:#1F487C ;

 @mixin FichaCliente { 
 
.cuerpo-detalle-ficha {
	background-color: #FFF;
	display: table-row !important;
}

.perfilestilo {
    margin-top: 5%;
    margin-left: 10%;
}

.perfilestilo .v-caption{
	border-radius: 90px !important; 
	border: 1px solid; 
	font-size: large; 
	text-align: center; 
	margin-top: -10px !important;
	width: 35px; height: 29px;
}

.correoTelefono {
	
}

.datosGenerales {
	 border: 1px solid; 
	 border-radius:5px;  
	 border-color:#0062B3;
}

.textoNegrita {
	font-weight:bold;
}

.espacioSuperior {
	margin-top:2%;
}

.espacioIzquierda {
	margin-left:22%;
}

.tabla {
	display:table;
}

.tablaDatosSecundarios {
	display:table;
	border-collapse: separate;
  	border-spacing:	5px 0px;
}

.tabla-fila {
	display:table-row;
}

.tabla-celda {
	display:table-cell;
}

.tabla-bloque {
	display:block;
}

.tabla-scroll {
	overflow-y:auto;
}

.tabla-ancho {
	height:600px !important;
}

.enlinea{
	display: inline;
}

.texto-derecha {
	text-align:right;
	padding-right:2%;
}

.texto-centrado {
	text-align:center;
	font-weight:800;
}

.bloque {
	display: inline-flex;
	align-items: center;
	justify-content:center;
}

.tituloSuperior {
 	color: #0066C3;
}

.tituloEnunciado {
	color: #929292;
    font-weight: bold;
}


//.v-imagen-cliente .v-caption {
//  	$background-colorP:#F5F7F8;
//  	$background-colorS: #FFFFFF;
//  	$color-letra:#3E98DC;
//  	@include placom-gradient-importante($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
//  	color: $color-letra !important;
//}
 
//.v-imagen-cliente .v-caption:hover {
//  	$background-colorP:#EAF1F7;
//  	$background-colorS: #FFFFFF;
//  	$color-letra:#1E5599;
//  	@include placom-gradient-importante($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
//  	color: $color-letra !important;
//}
   
.numberCircle {
    border-radius: 50%;
    
//  height: 20px;
    height: 10px;
    padding: 2px;
//  width: 23px;
    width: 11px;
    
    background: #fff; 
}

.colorBasico .numberCircle{
	$background-inicio:#009EE5;
    $background-fin:#97D9F7;
    @include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);
}

.colorPotencial .numberCircle{
	$background-inicio:#86C82D;
    $background-fin:#CDFD8E;
    @include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);
}

.colorTransaccional .numberCircle{
	$background-inicio:#006EE5;
    $background-fin:#B8D8FB;
    @include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);
}

.colorEstrella .numberCircle{
	$background-inicio:#ED1C24; 
    $background-fin:#F2C1C3;
    @include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);
}

.colorldpdsi .numberCircle{
	$background-inicio:#86C82D;
    $background-fin:#A1C16E;
    @include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);
}

.colorInelegible .numberCircle{
	$background-inicio:#86C82D;
    $background-fin:#A1C16E;
    @include placom-gradient-importante($background-inicio,$background-fin, v-linear 18%,$background-color ,to top);
}

.v-popupview-popup{
	margin-left:201px !important;
	margin-top:13px !important;
	border:solid 4px !important;
	border-color:#007EC1 !important;
}

.margen-izquierda-btnRegresar{
	margin-left:76%;
}

.v-popupview-popup:before{
	content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid #007EC1;
    left:-2%;

    top:40%;

}

.margen-superior-calendario{
	margin-top:13px!important;
}

.auto-alto-tabla .v-table-body  {
    height: auto !important;
}

.auto-alto-tabla{
    height: auto !important;
}

.margen-correo{
	margin-left:3% !important;	
}


$class-slug: borde-alerta !default;

@for $i from 1 through 10 {
  .#{$class-slug}-#{$i}:after{ 
  	 content: "\00a0\00a0\00a0\00a0|";
     font-size: 12px;
     font-weight: bold;
  }
}

.color-blanco{
	color:white;
}

.lbl-seguro{
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4; 
	margin-bottom:5px;
}

.lbl-detalle-pisicion-banco{
	 padding-left:10%;
}

.tALeyProteccionDatosPersonales .v-textfield-justify-Text{
   text-align:justify !important;
 }
 
 .tablaRentabilidadEstilo {
 	margin-left: 1%;
 	margin-top: 1%;
 }

}