

 @mixin FichaPersona {
  
    // Estilo Bloques de Informacion
    
	.FichaPersonaDatosGenerales{
		float: left; 		
		margin-left: 4px !important;
		padding: 5px 5px 5px 5px;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#0062B3;
	 	display: table;
	 	min-width: 300px;
	}

	.FichaPersonaInfoComercialRiesgos{
		float: left; 		
		margin-left: 4px !important;
		padding: 5px 5px 5px 5px;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#0062B3;
	 	display: table;
	}
	
	.FichaPersonaInfoLaboralRating{
		float: left; 		
		margin-left: 4px !important;
		padding: 5px 5px 5px 5px;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#0062B3;
	 	display: table;
	}
	
	.FichaPersonaInfoEconomicaAdicional{
		float: left; 		
		margin-left: 4px !important;
		padding: 5px 5px 5px 5px;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#0062B3;
	 	display: table;
	}
	
	.FichaPersonaAlerta{
		float: left; 
		margin-top: 4px !important;
		margin-left: 4px !important;
		padding: 5px 5px 5px 5px;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#0062B3;	 		 
	}
	
	.FichaPersonaPosicionBanco{				
		margin-top: 4px !important;
		margin-left: 4px !important;
	}
	
	.FichaPersonaCampania{
		margin-left: 4px !important;
		margin-top: 4px !important;
	}
	
	.FichaPersonaSistemaFinanciero{
		margin-left: 4px !important;
		margin-top: 4px !important;
	}
	
	.FichaPersonaAccionComercial{
		margin-left: 4px !important;
		margin-top: 4px !important;
	}
	
	.FichaPersonaRentabilidad {
		margin-left: 4px !important;
		margin-top: 4px !important;
	}
	
	.FichaPersonaEstadoFinanciero{
		margin-left: 4px !important;
		margin-top: 4px !important;
	}
	
    // Estilo Bloque - Datos Generales

	.EncabezadoDatosGenerales{		
		font-weight:bold;
		background-color: #FFF;
		display: block !important;
		padding-left: 20%;
	}
	
	.VerMasRepresentantesDatosGenerales{		
		float: right; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-right: 5px !important;
	}
	
	.DetalleDatosGenerales{		
		float: right;
		background-color: #FFF;
		display: table-row !important;
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
	
	.ImagenPerfilDatosGenerales{   
		border-radius: 90px !important; 
		border: 1px solid; 
		font-size: large; 
		text-align: center; 		
		background-color: #F0F2EF;
		border-color: #0065B7;
		color: #0065B7;
		float: left; 
		display: table; // inline-table, inherit
		margin-top: 10px !important;
		margin-left: 15px !important;
		padding: 0px 0px 0px 0px !important;
	}

	.FirmaDatosGenerales{
		clear: left;
		float: left; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-left: 15px !important;
	}
	
	.margen-izquierdo-dos{
		margin-left:2%;
	}
	
	.margen-izquierdo-cuatro{
		margin-left:4%;
	}
	
	.CorreoTelefonoDireccionDatosGenerales{		
		float: left;
		text-align:left;
	}
	
	.CorreoTelefonoDireccionBotonDatosGenerales{		
		float: left;
		text-align:left;
		height: 16px;
		display: table; // inline-table, inherit
	}
	
	.VerMasDatosGenerales{		
		float: right; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-right: 15px !important;
	}
	
	.VerMasDatosGeneralesFirma{
		text-align: center;
		margin-top: 10px;
	}
	
	.RegresarDatosGenerales{
		float: right; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-right: 15px !important;
		margin-top: 5px !important;
	}
	
	.RegresarDatosGenerales-left{
		float: left; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-right: 15px !important;
		margin-top: 5px !important;
	}
	
	.btns-foot-datosGenerales{
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-top: 5px !important;
	}
	
	.btns-foot-datosGenerales-left{
		float:left;
	}
	
	.btns-foot-datosGenerales-center{
		margin-right:10px;
	}
	
	.btns-foot-datosGenerales-right{
		float:right;
	}
	
	.VistaVerMasDatosGenerales{	 	
	 	width: 100% !important;
	}
	
	// Estilo Bloque - Info Comercial Riesgos
	
	.EncabezadoInfoComercialRiesgos{		
		font-weight:bold;
		text-align:center;
		background-color: #FFF;
		display: table-row !important;
	}
	
	.DetalleInfoComercialRiesgos{		
		float: right;
		background-color: #FFF;
		display: table-row !important;
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
	
	// Estilo Bloque - Info Laboral/Rating
	
	.EncabezadoInfoLaboralRating{		
		font-weight:bold;
		text-align:center;
		background-color: #FFF;
		display: table-row !important;
	}
	
	.DetalleInfoLaboralRating{		
		float: right;
		background-color: #FFF;
		display: table-row !important;
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
	
	// Estilo Bloque - Info Economica/Adiciona
	
	.EncabezadoInfoEconomicaAdicional{		
		font-weight:bold;
		text-align:center;
		background-color: #FFF;
		display: table-row !important;
	}
	
	.DetalleInfoEconomicaAdicional{		
		float: right;
		background-color: #FFF;
		display: table-row !important;
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
	
	.UltAbonosInfoEconomicaAdicional{
		float: right; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-right: 15px !important;
		margin-top: 5px !important;
	}
	
	// Estilo Últimos Abonos
    
    .FichaPersonaUltimosAbonos{		
		padding: 5px 5px 5px 5px;
	 	display: table;
	}
	
	// Estilo Alerta
	
	.Alerta{
		background-color: #FFF;		
		display: inline-flex;
		align-items: center;
		justify-content:center;				
	}
	
	.AlertaInelegibilidad{
		display: none !important;	
	}
	
	// Estilo Inelegibilidad
    
    .FichaPersonaInelegibilidad{		
		padding: 5px 5px 5px 5px;
	 	
	}
	
	// Estilo Posición Banco
		
	.ConsultarContrato{
	//	float:right;
		float:left;
	}
		
	.ServicioPosicionBanco{
		font-weight:bold;
		background-color: #FFF;		
		left: 30% !important;
		position: relative !important;
		margin-top: 5px !important;	
	}
	
	.TablaPosicionBancoActivo{
	
	    clear:left;
		display:block;
		float:left;
	}
	
	.TablaPosicionBancoRecurso{
		display:block;		
		float:right;
		margin-left: 5px !important;		
	}
	
	// Estilo Campaña
	
	.CitaManual	{
		float:left;
	}
		
	.AccesoMoi	{
		float:right;
		margin-left: 2px !important;	
	}
	
	.AccesoPreevaluador	{
		float:right;
	}
	
	.AccesoCotiza {
		float:right !important;
		//margin-right: 1% !important;
	}
	
	.AccesoCotizaNew {
		// float:left !important;
		margin-right: 1% !important;
		// margin-left:2%;
	}
		
	.DatosGestorCampania{
		background-color: #FFF;		
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
		
	.filtro-busqueda{
		margin:{
			left: 8px !important;
			top: 5px !important;
			bottom: 5px !important;
		}
	}
	.filtro-tabla{
		//margin-top: 4px !important;
		display:inherit !important;
		padding:{
			right:10px;
			left:10px;
			bottom: 15px;
			top: 5px;
		}
		
	}
	
	.busqueda-avanzada-tabla {
		width: 440px !important;
		display:inherit !important;
		padding:{
			right: 3px;
			left: 3px;
		}
	}
	
	.horizontal{
			display: flex !important;
			padding-bottom: 1% !important;
			padding-top: 1% !important;
		}
	
	//Contratos, Movimientos y Participes
	
	.Contratos
	{		
		padding: 5px 5px 5px 5px !important; 
	}
	
	.Movimientos
	{		
		padding: 5px 5px 5px 5px !important; 
	}
	
	.Participes
	{		
		padding: 5px 5px 5px 5px !important; 
	}
		
	.ContratosData
	{	
		margin-top: 2px !important;	
		clear: left;
		float: left;
	}	
	
	.ContratoSubtitulo
	{		
		float: left;
		font-size: 11px;
	}
	
	.ContratoVerMasDatosBoton
	{		
		margin-top: 2px !important;
		clear: left;
		float: left;
	}
	
	.ContratoDatosAtras
	{		
		clear: left;
		float: left;
		display: inline-block;		
	}
	
	.ContratoDatosSiguiente
	{	
		float: right;		
		display: inline-block;	
	}
	
	.ContratoVerMasDatosTabs
	{
		padding-left: 5px !important;	
		float: right;
	}
	
	.ParticipeDatosAtras
	{		
		float: left;
		display: inline-block;		
		padding-top: 10px !important;
	}
	
	.ParticipeDatosSiguiente
	{	
		float: right;		
		display: inline-block;
		padding-top: 10px !important;	
	}
	
	.LabelCentrado
	{
		text-align:center;
	}
	
	.v-table-row.v-table-row-Contrato-Seleccionado,
	.v-table-row-odd.v-table-row-Contrato-Seleccionado 
	{
	  	text-decoration: underline;
	}
	.v-label-seguros {
		margin-top: 5px;
		font-weight: bold;
	}
	
	.servicios-link tbody tr td{
	  	text-decoration: underline;
	  	color:#0079C1;
	}

	.detalle-producto {
		margin: 2%;
	}
	
	.detalle-producto-sector {
		border-top: solid 1px;
		border-color:#E4E4E4;
		margin-top:  2%;
		padding-top: 2%;	
	}
	
	.detalle-producto-resaltar{
		color: blue;
		font-weight: bold;
		font-size: 1.2em;
	}
	
	.telefono-editar{
		border: solid 1px #d4d4d4;
		border-radius: 4px;
		padding:1%;
	}

	.margen-izquierdo{
		margin-left:1%;
	}
	
	.margen-top{
		margin-top:1%;
	}
	
	.margen-top-dos{
		margin-top:2px;
	}
	
	.texto-centrado{
		text-align: center;
	}
	
	.check-telefono{
		margin-top: 3px;
		margin-left: 4%;
		
	}
	
	.titulo-correo-telefono{
		color: #025498;
		font-weight: bold;
	}
	
	.margin-bottom{
		margin-bottom:1%;
	}
	
	.button-icon-large{
		font-size:large;
	}
	
	.contacto-boton{
		padding:0px !important;
	}
	
	.editar-correo .v-button-caption {
		margin-right:12px;
	}
	
	.ConsultarTarjetas {
		float: left;
		margin-left: 10px !important;
	}
	
	.btnAlertaBXI{
		font-size: 12px;
		margin-top: 2px;
		padding-left: 5px;
	}

//	.sangria-derecha-BXI {
//		font-weight: bold;
//		color: #0079C1;
//		padding-left: 50px;
//	}
	
	.mensaje-BXI {
		font-weight: bold;
		color: #317C37;
		padding-left: 50px;
	}
	
	//.titulo-SMS {
	//	font-weight: bold;
	//	color: #0079C1;
	//	padding-left: 50px;
	//}

//    .LayoutSMS {
//		padding-right: 10px;
//		padding-left: 10px;
//		padding-bottom: 15px;
//		padding-top: 5px;
//		background-color:#FFFFFF;
//	}

//    .layaoutBotonSMS {
//		padding-right: 10px;
//		padding-left: 10px;
//		padding-bottom: 10px;
//	}
	
	.btnAlertaLPDP{
		font-size: 12px;
		padding-left: 10px;
		padding-right: 0px;
	}

	.AlertaLPDP{
		align-items: none !important;
		margin-top: 5px !important;
	}
	
//	.sangria-derecha-lpdp {
//		font-weight: bold;
//		color: #0079C1;
//		padding-left: 150px;
//	}
	
	.sangria-derecha-lpdp_left {
		padding-left: 210px;
	}
	
	.textoNegrita_lpdp {
		font-weight: bold;
		color: #0079C1;
	}
	
    .paddingVerMas {
	   padding: 0px 0px 8px 15px !important;
    }	
    
    .panelSeccionBorder{
		margin: 5px 5px 5px 5px;
		padding: 5px 5px 5px 5px;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#0062B3;
	 	display: table;
	}
	
    .panelSeccionBorderConFondo{
		margin: 5px 5px 5px 5px;
		padding: 5px 5px 5px 5px;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#f9f1e4;
	 	background: #c3f3f9;
	}
	
	.layout-titulo {
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
    
//   .mensaje-tituloTarjeta {
//		font-weight: bold;
//		color: #0079C1;
//	}
	
//	.sangria-derecha-tarjetas {
//		font-weight: bold;
//		color: #0079C1;
//		padding-left: 150px;
//	}
	
	.label-titulo-principal {
		font-weight: bold;
		color: #0079C1;
		text-align: center;
	}
	
	.label-sangria-derecha {
		font-weight: bold;
		color: #0079C1;
		text-align: right;
	}
	
//	.sangria-pregunta-BXI {
//		font-weight: bold;
//		color: #0079C1;
//		padding-left: 60px;
//	}
	
	.label-sangria-pregunta {
		font-weight: bold;
		text-align: center;
	}
	
	.layout-boton{
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-top: 5px;
	}
	
	.leyendaTarjeta {
		font-size: 12px;
		padding-right: 10px;
	}
	
	.btn-accion-tarjeta {
		font-size: 18px;
		padding: 5px 5px 5px 5px;
	}
	
	.btn-accion-agregar-telefono {
		font-size: 18px;
	}
	
	.util-margen-superior-uno {
		margin-top: 1%;
	}
	
	.encabezadoDatosTarjeta {
		font-weight: bold;
		background-color: #FFF;
		display: block !important;
	}
	
	.marginLeyenda{
		margin-left: 15px;
		font-weight: bold;
		background-color: #FFF;
		display: block !important;
		border: 1px solid; 
	 	border-radius:5px;  
	 	border-color:#ffffff;
	 	display: table;
	 	background: #b2deef;
	}
	
	.btn-sin-link{
		pointer-events: none;
	}
}