@import "../../valo/valo.scss";
@import "comboBox.scss";

$background-multiple:#FFDD7A;
$background-personal:#EF918E;
$background-manual:#AAD794;
$background-comercial:#8EB2E4;

@mixin filtro{
	.lytBotonera-Limpiar-Seleccionar .v-button{
		padding: 0px !important;
	}
} 