@import "../../valo/valo.scss";
@mixin loading{
	
	.v-loading-indicator,
	.v-loading-indicator-delay,
	.v-loading-indicator-wait {
		@include animation(none);
		@include transition(none);  
	}
    
 	.v-loading-indicator.first::before {
  		display: none;
	}
 

	.v-loading-indicator[style*="none"]::after {
 		display: none;
	}

	.v-loading-indicator[style*="none"]::before {
  		display: none;
	}
	
	.v-loading-indicator{
		position: inherit !important;
	}
	
	.v-loading-indicator::after{
		width: 100% !important;
		height: 100% !important;
		position: fixed;
  		background: #FFF;
  		top: 0;
  		left: 0;
  		right: 0;
  		bottom: 0;
  		pointer-events: auto;
  		display: table-cell;
  		vertical-align: middle;
  		content: "aa";
  		color: white;
  		text-align: center;
  		background: #fff url(../img/cargando.gif) no-repeat 50%;  
  		opacity: .8; 
		-ms-filter: alpha(opacity=80);
		filter: alpha(opacity=80);
	}

}