$source-bbvaweb-pathPrefix: "";
@import "../../valo/valo.scss";
@import "../fonts/bbvaWeb/bbvaweb.scss";
@include font-source-bbvaweb;
$fuente-banco:"BbvaWeb2";
@mixin menu{
	@include font-source-bbvaweb;
    .v-menubar{
        $v-selection-color: #005098;
        $background-color: #0065BA;
        $unit-size: 45px;
    		
        @include valo-menubar-style(v-menubar, $background-color, $unit-size);
        @include valo-gradient($background-color, v-linear 18%, to top);
        $font-family:$fuente-banco;
        font-family: $font-family !important;
        font-size: 14px !important;
        border:none;
        padding: 0px;
    }
    
    
    .v-menubar .v-menubar-menuitem{
    	border: 1px solid transparent;
        border-image: url("../img/separador-menu.png") ;
       	border-image-slice: 5 ;
       	border-image-repeat: stretch ;
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	}
	
	
	.v-menubar-popup {
		border-radius: 0px;
		background-color:#094fa4;
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	}
	
	.v-menubar-popup .v-menubar-menuitem{
		padding: 5px 28px 5px 5px !important;
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	
	}
	
	.v-menubar-menuitem {
		color: #FFFFFF;
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	}
	
	.v-menubar:focus::after{
		border-color: none !important;
		box-shadow: 0px 0px 0px  !important;
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	
	}
	
	
	.v-menubar-submenu .v-menubar-menuitem-checked .v-menubar-menuitem-caption{
		display:none;
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	} 
	
	.v-menubar-submenu .v-menubar-menuitem *,
	.v-menubar-submenu .v-menubar-menuitem-caption * {
		white-space: nowrap;
       	$font-family: $fuente-banco;
        font-size: 14px !important;
	}
	
	.v-menubar-submenu .v-menubar-menuitem .v-menubar-menuitem .v-menubar-menuitem-caption {
		white-space: nowrap;
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	}
	
	.v-menubar-menuitem-selected {
		color: #FFF;
		background-color:#0093E1;
		
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	}
	
	.v-menubar-submenu .v-menubar-menuitem-selected  {
		color: #FFF;
		background-image: none !important;
		background-color: #0093E1 !important;
		border-color: #0093E1 !important;
		
       	$font-family: $fuente-banco;
        font-family: $font-family  !important;
        font-size: 14px !important;
	}
	
	.v-menubar-submenu .v-menubar-submenu-indicator {
        display: inline-table;
        position: left;
        padding-right:5px; 
        font-size:8px !important;

	}
     
    .v-menubar .v-menubar-menuitem:hover {
        background-color: #005098;
        color:#FFFFFF;
	}
	
	.v-menubar-menuitem-caption::after{
		content: "" !important;
	}
	
	
}