@import "../../valo/valo.scss";
@import "../fonts/bbvaWeb/bbvaweb.scss";
@include font-source-bbvaweb;
$fuente-banco:"BbvaWeb2";

@mixin notificacion{

@include font-source-bbvaweb;	

.v-Notification.error{
background: #F7E9E9;
padding-left: 10px;
border: 1px solid #F2CADE !important;
}


.v-Notification.error h1{
	display: table-cell;
    vertical-align: middle;
	color:#CA2D7B !important;	
}


.v-Notification.error p{
	color:#CA2D7B !important;	
}

.fancy-notif.fancy-notif-noicon .fancy-notif-desc {
    margin-left: 0 !important;
}

.v-label-fancy-notif-desc{
	display: table !important;	
}

.fancy-notifs .fancy-notif .fancy-notif-desc{
	margin-top: 37px !important;	
}
.v-label-cerrar {
    display: flex;
    width:100%;
    align-items:center;
    justify-content:flex-end;
    text-decoration: underline;
}

.alerta-notificaciones {
    background-color: rgba(255, 255, 255, 1) !important;
    color:black;
    border:3px solid !important;
    border-color:#135b9b !important;
  }

  .alerta-notificaciones:hover {
    background-color: #F6F8F9 !important;
  }

  .alerta-notificaciones .fancy-notif-title {
  	color:#505367 !important;
    $font-family:$fuente-banco;
    font-family: $font-family !important;
    text-shadow:none !important;
  }
  
  .alerta-notificaciones .fancy-notif-desc{
  	color:#505367 !important;
    $font-family:$fuente-banco;
    font-family: $font-family !important;
    text-shadow:none !important;
  }
  .alerta-notificaciones .v-icon{
  
  color:#135b9b !important;
  }
  
  .alerta-notificaciones::before{
margin-left: 0px !important; 
margin-top: 0px !important; 
left: -5000px !important; 
top: -5000px !important; 
z-index: 90000 !important; 
visibility: visible !important; 
position: absolute !important; 
overflow: visible !important;
heigth:100px !important;
}



}