@import "../../valo/valo.scss";
@mixin panel{
	
    .v-panel{
    	border: 0px !important;
    	padding-left: 2px !important;
    	
    }
    
    .v-filterselect-button:active{
    content: "hola";
    
    }
    
    .v-panel-caption .v-panel-caption-panel-comunicado {
    background-color: #000 !important;
    }
    
    
   

}
 

 