@import "../../valo/valo.scss";
@mixin preEvaluador{

 .window-preEvaluador{
 	min-height: 420px !important;
 	max-height:92% !important;
 }
 
 
 .v-textfield[class*="prompt"]{
   padding-top: 0 !important;	
 } 

  .dictamen-positivo {
	@include color-estado(green);
	margin-bottom: 0% !important;
	margin-top: 2%;
	white-space: normal;
  }
  
  .dictamen-negativo {
	@include color-estado(red);
	margin-bottom: 0% !important;
	margin-top: 2%;
	white-space: normal;
  }
  
  .dictamen-nulo {
	@include color-estado(transparent);
	margin-bottom: 0% !important;
	margin-top: 2%;
	color: transparent;
	white-space: normal;
  }

  .color-label-rojo {
  	@include color-estado(red);
   }
  
  .color-label-verde {
  	@include color-estado(green);
  }
  
  .color-label-blanco {
  	@include color-estado(white, black);
  }
  .color-label-naranja {
  	@include color-estado(orange);
  }
  
  .ficha-participe {
  	@include fichaParticipe();
  }
  
  .ficha-participe-cuota .v-caption{
  	background-color: white !important;
  	line-height:0.55%!important;
  }
  
  .ficha-participe-cuota{
  	margin-left: 2% !important;
  }
  
  .ficha-participe-cuota .v-caption{
  	margin-left: 2% !important;
  	margin-top: 7% !important;
  	color: black !important;
  	background-color: white !important;
  	line-height:0.55%!important;
  	font-size:10px !important;
  }
  
  .ficha-participe-periocidad{
  	// margin-top:  6% !important;
  	margin-left: 4% !important;
  	font-size:10px;
  }
  
  
  .ficha-participe-periocidad .v-caption{
  	margin-left: 2% !important;
  	margin-top: 8% !important;
  	color: black !important;
  	background-color: white !important;
  	line-height:0.55%!important;
  	font-size:10px !important;
  }
  
  .margen-left-familia{
  	margin-left:12%;
  }
  
  .margen-right-familia{
  	margin-right:2%;
  }
  
  .margen-left-producto{
  	margin-left:1.5% !important;
  }
  
  .ficha-participe-periocidad-mes{
  	margin-right:10%;
  }
  	
  
  .ficha-participe-cuota .v-select-optiongroup-horizontal{
  	font-size:10px !important;
  }
  
  .ficha-participe-cuota .v-caption{
  	margin-right: 2%;
  }
  
  .margen-izquierdo-dia-pago{
  	margin-left: 2% !important;
  }
  
  .margen-izquierdo-sub-producto{
  	margin-left: 2.4% !important; 
  }
  
  .ficha-participe-cuota .v-textfield{
  	margin-left: 2%;
  }
  
  .margen-left-opt-ingreso-producto{
  	margin-left:0.95%;
  }
  
  .ficha-participe-cuota .v-filterselect{
  	margin-left: 2%;
  	font-size: 9px;
  }
  
  .ficha-participe-cuota{
  	font-size:12px !important;
  
  }
  
  .ficha-participe-busqueda {
  	@include fichaParticipe();
  	border: solid 1px #0062b3;
  	font-size:10px !important;
  	padding-left: 3%;
  	padding-top: 1%;
  }
  
  .ficha-banco {
  	@include fichaParticipeBanco();
  }
  
  .ficha-banco-borde{
  	border-right: solid 1px #0062b3;
	border-top: solid 1px #0062b3;
	border-bottom: solid 1px #0062b3;
  }
  
  
  .ficha-banco-contenedor {
  	margin-top: 1.5%;
  	//@include margen(1.5%,0%,1%,1%);
  }

  .celda-margen{
  	margin-bottom: 0% !important;
  }
  
   .celda-margen-p{
   	margin-top:1%;
   	float:left;
  	margin-bottom: 2% !important;
  }      
  
  .ficha-participe-producto-texto {
  	 margin-left: 11%; 
  	 font-size: small;
  }
  
  .ficha-participe-producto-titulo {
  	 margin-left: 5%; 
  	 font-size: small;
  }
  
  .producto-participe-titulo-adicional {
   	color: #025BA0;
  }
  
 // .none-header{
 // 	padding-top: 15px !important;
 // }  
  .none-header .v-table-header-cell{
  	display:none !important;
  }
  
  .boton-novisible{
  	display:none;
  }
  
  .v-select-optiongroup-horizontal .v-select-option.v-radiobutton{
  	padding-right: 0px !important;
  }
  
  .v-selected .boton-novisible{
  	display:block !important;
  }
  
  .v-scrollable{
  	height: 99% !important;
  }
  
  .v-table-cell-wrapper{
  	width:"100%" !important;
  }
  
  .label-banco {
  	margin: 2%;
  	font-size: 10px;
  	font-weight: bold;
  }
  
  .label-banco-total {
  	font-size: 10px;
  	font-weight: bold;
  	margin: 1%;
    padding-right: 2%;
    text-align: right;
  }
  
  .label-banco-texto{
  	@include margen(2%,2%,2%,5%);
  	font-size: 8px;
  	font-weight: bold;
  }
  
  .ficha-banco-combo{
  	@include margen(2%,null,2%);
  }
  
  .btn-detalle{
  	padding: 0px !important;
  	height: 20px !important;
  }
  
  .btn-detalle-especial{
  	padding-left: 1% !important;
  	padding-right:0% !important;
  	padding-top:0% !important;
  	padding-botton:0% !important;
  	text-align: left;
  }
  
  .btn-detalle-especial-ajuste{
  	padding-left: 1% !important;
  	padding-right:1% !important;
  	padding-top:0% !important;
  	padding-botton:0% !important;
  	margin-top:2% !important;
  	text-align: left;
  }
  
  //SOLO EN EL CASO QUE EXISTA ESPACIO EN EL FORMULARIO SINO RETIRAR MARGIN-TOP-COMPONENTE-SUBPRODUCTO
  
  .margin-top-componente-subproducto .v-label{
  	margin-top:2% !important;
  }
  .margin-top-componente-subproducto .v-textfield{
  	margin-top:2% !important;
  }
  .margin-top-componente-subproducto .v-filterselect{
  	margin-top:2% !important;
  }
  .margin-top-componente-subproducto .v-select-optiongroup{
  	margin-top:2% !important;
  }
  
  .margin-top-componente-subproducto .v-caption{
  	margin-top:3% !important;
  }
  
  .contenedor-banco-ajuste{
  	padding:1%;
  }
  
  .contenedor-banco-ajuste .v-label{
  	margin-top:1%;
  	margin-left:10%;
  	font-size:10px;
  }
  
  .titulo-banco-ajuste-importe{
  	margin-top:2% !important;
  	margin-left:2% !important;
  	font-size:10px;
  }
  
  .titulo-banco-ajuste-quitar-margen{
	margin-top:0% !important;
  	margin-left:0% !important;  
  }
  
  .titulo-banco-periodo-gracia-quitar-margen{
  	margin-left:0% !important;  
  }
  
  .contenedor-banco-ajuste .v-textfield{
  	margin-top:1% !important;
  	margin-left:1% !important;
  	font-size:10px;
  }
  .contenedor-banco-ajuste .v-filterselect{
  	margin-top:1% !important;
  	margin-left:1% !important;
  	font-size:10px;
  }
  
  .contenedor-banco-ajuste .v-textarea{
  	margin-top:1% !important;
  	margin-left:1% !important;
  	font-size:10px;
  }
  
  .contenedor-banco-ajuste .v-button{
  	margin-right: 1%;
  	margin-left:1%;
  	font-size:10px;
  }
  
  
  
  .contenedor-banco-ajuste .v-caption{
  	margin-top:2% !important;
  	margin-left:1% !important;
  	background-color:white;
    color : #OOO;
    font-size:10px;
  }
  
  .btn-detalle:focus::after{
  	border-color:none !important;
  	box-shadow:none !important;
  }
  
  .btn-detalle:active::after{
  	background-color: white !important;
  }
  
  .ficha-banco-scroll{
  	overflow-x:auto;
  	overflow-y:hidden;
  	//margin-left:1%;
  }
  
   .ficha-banco-scroll-y{
  	overflow-x:hidden;
  	overflow-y:auto;
  }
  
  .ficha-banco-barra{
  	float: left;
  }
  
  .componente-float-left{
  	float: left;
  }
  
  .ficha-banco-barra-color{
  	background-color:  #FFBA15 !important;
  	color: #FFBA15;
  }
  
  .logo-ficha-participe{
  	font-size: xx-large;
  	text-align: center;
    @include margen(null,2%);
    
  }
  
  .logo-ficha-producto-participe{
  	font-size: x-large;
  	text-align: center;
    @include margen(null,2%);
    
  }
  
  .ficha-participe-titulo-DOI{
  	//@include margen(0%);
  	padding-left: 7.5% !important;
  }
  
  .ficha-participe-titulo-nombre{
  	@include margen(null,0%,1%);
  	float:left;
  	padding: 2% 0 0 2%;
  }
  
  .ficha-participe-txt{
    @include margen(null,1%,1%,1%);
  }
  
  .ficha-participe-chk{
  	@include margen(null,null,1%);
  }
  
  .ficha-participe-margen-componente{
  	@include margen(1%,1%,1%,1%);
  }
  
  .cronograma-contenedor{
	border: 1px solid #66b2ff;
	border-radius: 1%;
	padding: 1%;  
  }
  
  .cronograma-piePagina{
  	font-weight: bold;
  }
  
  
  .tabla-cronograma .v-table-footer tbody > tr > td:first-child {
    position: relative;
    border: none !important;
  }
  
   .tabla-cronograma .v-table-footer tbody > tr > td:first-child {
    position: relative;
  }
  
   .tabla-cronograma .v-table-footer table {
    box-shadow: none !important;
  }
  
  .tabla-cronograma .v-table-footer tbody > tr > td {
  	border: none !important;
  }

  .tabla-cronograma .v-table-footer tbody > tr > td:first-child div {
	top:0px;
	left:48%;
	position: absolute;
  }
  
  .tabla-cronograma .v-table-footer tbody > tr > td {
    background-color: #F4F7F5 !important;
  }
  
  .tabla-cronograma .v-table-footer-wrap {
    border: none !important;
  }
  
  .ficha-participe-margen-derecho{
  	@include margen(null,null,null,2%);
  }
  
  .producto-participe-float-rigth{
  	float: right;
  }
  
  .font-small{
  	font-size: 10px;
  }
  
  .font-color{
  	color: #135A99 !important;
  }
  
  .producto-participe-button-simular{
  	@include margen(null,null,null,5%);
  }
  
  .producto-participe-button{
  	@include margen(5%,5%,5%,5%);
  }
  
  .producto-participe-chk{
  	@include margen(31%,null,25%,null);
  }
  
  .producto-participe-chk-multiple{
  	@include margen(1%,null,null,null);
  }
  
  .etiqueta-banco-naranja{
	@include generar-cuadro-franja(#FFBA15);
  }
  
  .etiqueta-banco-azul{
  	@include generar-cuadro-franja(#8EB2E4);
  }
  .etiqueta-banco-verde{
  	@include generar-cuadro-franja(#59C000);
  }
  
  .etiqueta-producto-edicion{
  	@include generar-cuadro-franja(#D7D5D5);
  }
  
  .margen-componente{
  	@include margen(2%,2%,2%,2%);
  	//float:right;
  }
  
  .boton-agregar-ajuste{
  	margin-right:5%!important;
  }
  
  .alineamiento-izquierda{
  	text-align: right !important;
  }  
  .sangria-derecha{
  	padding-left: 5px !important;
  }
  .margen-ficha-producto{
  	margin-left: 2.6px !important;
  	margin-top: 1%;
  }
  
  .margin-boton-bottom{
  	margin-bottom: 5px !important;
  }
  
  .borde-margen-menu{
  	@include borde(2px,null,null,null);
  	@include margen(null,null,null,2%);
  }
  
  .borde-margen-participe{
  	border-top: solid 2px #DADADA;
  	border-bottom: solid 2px #DADADA;
  }
  
  .color-barra-separacion{
  	background:#DADADA !important;
  	background-color: black;
  	padding-top:13%;
  	margin-left:9px;
  }
  
  .maximo-alto{
  	height: 179px !important;
  	position: relative;
  }
  
  .alto-porcentaje{
  	height:100%;
  }
  
  .contenedor_linea{
  	border-right:solid 2px !important; 
  	border-color:#dadada !important;
  }
  
  .maximo-ancho{
  	max-width: 74% !important;
  }
  
  .maximo-alto-contenedor-producto{
  	max-height: 41% !important;
  }
  
  .ficha-producto-padding-botton{
  	padding-bottom:0.5%;
  	border: solid 1px #0062b3;
  }
  
  .contenedor-dictamen{
  	padding:1%;
  	border: solid 1px;
  	border-color:white;
  	text-align:center;
  }
  
  .contenedor-dictamen-boton-agregar{
  	padding:1% 0 0;
  }
  
  .margen-general{
  	margin-left:0.5%;
  	margin-top: 1%;
  	//@include margen(1%,0.5%,1%,1%);
  }
  .label-mensaje-dictamen{
  	font-weight: bold !important;
  	color: #FFFFFF !important;
  	text-align: center;
  }
  
  .ficha-mensaje-dictamen{
  	margin-top: 8% !important;
  	border: 1px #DADADA solid !important;
  	border-radius: 5px !important;
    background: #E52424 !important;
  }
  
  .ficha-mensaje-dictamen-small{
  	border: 1px #DADADA solid !important;
  	border-radius: 5px !important;
    background: #E52424 !important;
    color:#FFF !important;
    font-size:9px !important;
    font-weight:bold !important;
    float:rigth;
  }
  
  .number-circle-small {
    border-radius: 50%;
    height: 9px;
    padding: 2px;
    width: 10px;
    background: #fff; 
  }
 
 //scroll-ficha-banco
  
 
  //FICHA_ALTO = "136px";
  // width="184px"
 
 .no-scroll{
 	 overflow:hidden;
 	 position:relative;
 }
 
 .div-contenido{
 	position:relative;
 	width:164px;
    height:151px !important;
    top:-17px;
    padding-top:20px !important;
    padding-right:12px !important;
    overflow-y:auto;
 }
 
 
  .top_mask_posicion{
  	left:153px;
  }

  .left_right_mask_posicion_up{
  	left:153px; height:134px;
  }
  
  .left_right_mask_posicion_down{
  	left:192px; top:10px; height:182px;
  }	
  
  .bottom_mask_posicion{
  	left:177px; top:136px;
  }
  
  .top_bottom_mask {
  	  position:absolute;
	  overflow:hidden;
	  width:17px;
	  height:10px;
  }
	
	
 .left_right_mask {
	 position:absolute;
	 border:4px solid #fff;
 }

 .corner_top_mask, .corner_bottom_mask {
    position:relative;
	left:-2px;
	border:6px solid #000000;
	height:20px;
	width:13px;
	border-radius:16px;
 }

 .corner_top_mask {
	top:-3px;
    left:-4px;
 }

 .corner_bottom_mask {
	top:-18px;
    left:-4px;
 } 
 
 .caption-titulo{
    font-size: 9px;
    padding-left: 1%;
    float: left;
 }
 
  .caption-titulo-monto{
    font-size: 10px;
    padding-left: 1%;
  }
 
 .producto-horizontal{
	display: flex !important;
	padding-bottom: 1% !important;
	padding-top: 1% !important;
	float:left;
 }
 
 .pading-tabla-producto{
 	padding-top: 1% !important;
 }
 .caption-titulo-vehicular{
    font-size: 9px;
    padding-left: 1%;
    float:none !important;
    color: #00A9E8 !important;
 }
 
 .contenedor-otros{
 	font-size: 9px !important;
 	font-weight:400;
 	margin-top:1%;
 }
 
 .contenedor-vehicular{
 	font-size: 9px !important;
 	margin-top:1.5%;
    color: #00A9E8;
 }
 .contenedor-vehicular .v-caption{
 	font-size: 9px;
 	margin-right: 1%;
    padding-left: 1%;
    padding-top:1%;
    background-color:white;
    color : #OOO;
    float:none;
 }
 
 .contenedor-vehicular .v-caption:first-child{
 	font-size: 9px;
 	margin-right: 6%;
    padding-left: 1%;
    background-color:white;
    float:none;
 }
 
 .contenedor-vehicular .v-caption .v-captiontext{
 	color: black;
 }
 
 .contenedor-vehicular .v-caption:nth-child(12){
 	font-size: 9px;
 	margin-right: 3%;
    padding-left: 1%;
    background-color:white;
    float:none;
 }
 
 .contenedor-oferta{
 	padding-left: 5%;
 	padding-top: 5%;
 }
 
 .combo-prima{
 	@include margen(null,null,null,1%);
 }
 
 .contenedor-principal .v-filterselect[class*="prompt"] > [class*="input"] {
    font-size: 9px !important;
 }
 
 .contenedor-principal .v-textfield[class*="prompt"]{
 	font-size: 9px !important;
 }
 
 .ficha-participe-cuota .v-filterselect[class*="prompt"] > [class*="input"] {
    font-size: 9px !important;
 }
 
 .ficha-participe-cuota  .v-textfield[class*="prompt"]{
 	font-size: 9px !important;
 }
 
 .dia-pago{
 	margin-right: 16%;
 }
 
 .margen-derecho-familia-renovado{
 	margin-right: 20%;
 }
 
 .margen-derecho-cuota{
 	margin-right:2%;
 }
 
 .margen-derecho-dia-pago{
 	margin-left: 4.4% !important;
 	margin-right:16%;
 }
 
 .margen-derecho-cobertura{
 	margin-left: 4% !important;
 }
 
 .margen-izquierdo-tasa{
 	margin-left:1.7% !important;
 }
 
 .margen-izquierdo-usd{
 	margin-left:1.7% !important;
 }
 
 .margen-left-right-tipo-prestamo{
 	margin-right:4%;
 	margin-left: 2%;
 }
 
 .ficha-participe-otros{
  	margin-left: 3.8% !important;
  	font-size:10px;
  	font-weight:400;
  	color:#000;
  }
  
  .ficha-participe-otros-tarjeta-consumo .v-caption{
  	margin-top:2%;
  }
  
  .ficha-participe-otros-tarjeta-consumo .v-filterselect{
  	margin-top:0% !important;
  }
  
  .ficha-participe-otros-tarjeta-consumo .v-checkbox{
  	margin-top:2% !important;
  }
  
  .ficha-participe-otros .v-caption{
  	color: black !important;
  	background-color: white !important;
  	font-size:10px !important;
  }
  
  .margen-top-opt-simulacion{
  	margin-top:3%;
  }
 
 
 .margen-derecho-mes-gracia{
   margin-right:2%;
   margin-left:1.4% !important;
 }
 
 .margen-top-componente{
 	margin-top:3%;
 }
 
 .valor-comercial{
 	margin-left: 1%;
 }
 
 .botonera .v-button{
 	margin-right:3%;
 }
 
 .contenedor-cuota-adicional .v-filterselect{
 	margin-right:1%;
 }
 
 .tabla-componente{
 	display: table-cell !important; 
 }
 
 .divParticipeDos{
	float: left !important;
 }
 .divParticipeTres{
	position: absolute !important;
	left: 0px;
	top: 348px;
 }
 
 .divParticipeCuatro{
	position: absolute !important;
	left:0px;
	top: 528px;
 }
 
 .boton-banco-ajuste{
 	font-size: 9px !important;
    height: 14% !important;
    margin-top: -2px !important;
    text-align: center !important;
 }
 
 .boton-tipo-etiqueta{
 	background: rgb(255, 242, 204) none repeat scroll 0% 0% ! important; 
 	border: 1px solid rgb(221, 192, 106) ! important; 
 	color: black ! important;
 }
 
 .boton-tipo-etiqueta:focus::after{
 	box-shadow:none !important;
 }
 
 .titulo-linea{
 	font-size: 10px !important;
    font-weight: 500;
    color: #000 !important;
    margin-left: 0.5%;
 }
 
 .margen-vista-datos{
 	margin-left:4%;
 }
 
 .botonera-dictamen{
 	padding: 0 7px !important;
 }
 
 .lista-preevaluador{
 	font-weight:300;
 }
 
 .chk-cancela-contrato{
 	margin-left:1%;
 	font-size: 10px;
 }
 
 .eliminar-padding-left{
 	padding-left:0px !important;
 }
 
 .titulo-nacimiento-PN1{
 	margin-top: 2%;
 }
 
 .titulo-nacimiento-PN2{
 	margin-top: 2%;
 }
 
 .pdf-nacimiento-PN1{
 	margin-left: 1%;
    margin-right: 2%;
 }
 
 .pdf-nacimiento-PN2{
 	margin-left: 1%;
 }
 
 .margen-top-componente-pixel{
 	margin-top: 1px;
 }
 
 .margen-top-componente-pixel-producto{
 	margin-top: 2px;
 }
 
 .scroll-producto{
 	overflow: auto;
 	max-height : 303px;
 }
 
 .ficha-participe-producto-texto span::after{
	content: ".";
 }
 
 
 .ficha-participe-producto-texto span::first-letter{
    text-transform: uppercase;
 }
 
 .ficha-participe-producto-texto > span{
    display: block;
 }
 
 .tabla-cronograma .v-table-body{
 	height: calc(100% - 62px) !important;
    overflow-y: visible !important;
 }
 
 .alto-maximo-contenedor-deuda{
 	max-height: 85px;
 }
 
 .posicion-absoluto{
 	top:84%;
 	left:0px;
 	position:absolute;
 }
 
 .posicion-relative{
 	position:relative;
 }
 
 .max-min-fila{
 	min-height:188px;
 	max-height:241px;
 }
 
 .alto-maximo-contenedor-producto{
 	min-height: 220px;
 	max-height: 279px;
 }
 
 .margen-botonera-producto{
 	margin-top:2%;
 	margin-bottom:2%;
 }
 
 .mensaje-rojo{
 	color:red;
 }
 
 
}

@mixin generar-cuadro-franja($color-borde: #8EB2E4){
	border-left: 10px $color-borde solid !important;
	padding-left: 5px !important;
	//margin-bottom: 5px !important;
}

@mixin borde($borde-derecho:null, $borde-izquierdo:null, $borde-superior:null, $borde-inferior:null){
	@if $borde-derecho {
		border-right:  $borde-derecho   solid #DADADA;
	}
	@if $borde-izquierdo {
		border-left:   $borde-izquierdo solid #DADADA;
	}
	@if $borde-superior  {
		border-top:    $borde-superior  solid #DADADA;
	}
		
	
}

@mixin margen($margin-top:null, $margin-bottom:null, $margin-left:null, $margin-right:null){
	@if $margin-left {
 	  margin-left: $margin-left !important;
 	}
 	@if $margin-right {
   	  margin-right: $margin-right !important;
   	}
   	@if $margin-top {
   	  margin-top: $margin-top !important;
   	}
   	@if $margin-bottom {
	  margin-bottom: $margin-bottom !important;
	}
}

@mixin fichaParticipe(){
	@include fichaPreEvluador();
  	//@include margen(1%,0.5%,1%,1%);
}

@mixin fichaParticipeBanco(){
	@include fichaPreEvluador();
  	margin-left: 5px;
  	//@include margen(0%,0.5%,1%,1%);
}

@mixin fichaPreEvluador(){
	background-color: white;
  	border-radius:5px
  	//box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

@mixin color-estado($color:null, $color-text:white){
	@if $color {
 	 	background:$color;
  		font-weight: bold;
    	border-radius: 3px;
    	color: $color-text;
    	text-align: center !important;
    	padding-top:3% !important;
    	padding-bottom:3% !important;
 	}
}


.css-deuda{
    margin-top: 2px;
	overflow: auto;
}