@import "../../valo/valo.scss";

@import "comboBox.scss";


$color-subtitulo:#1F487C ;

 @mixin printFichaCliente { .tituloH1 { color:#00AFEF;
	font-weight: bold;
	padding-left: 10px;
}

.tituloH2 {
	color: $color-subtitulo;
	font-weight: bold;
	padding-left: 10px;
}

.cabecera {
	background-color: #001F5F;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14;
	padding-left: 10px;
	page-break-after:avoid;
}

.cuerpo-subtitulo {
	background-color: #DBE4F0;
	border: 1px solid;
	border-color: #001F5F;
	display: table-cell;
	page-break-after:avoid;
}

.cuerpo-detalle {
	background-color: #FFF;
	border: 1px solid;
	border-color: #001F5F;
	display: table-cell !important;
	page-break-after:avoid;
}

.ocular-cabecera-tabla .v-table-header-cell {
	display: none;
}

.cabecera-tabla {
	text-align: center;
	border: 1px solid;
	border-color: #8FA3BD
}

.contenido-auto-tabla .v-table-body {
	height: auto !important;
}

.cabecera-tabla-izquierda {
	border: 1px solid;
	border-color: #8FA3BD
}

.v-texto-comentario-print {
	word-wrap: break-word !important;
	display:table !important; 
}

.v-texto-comentario-print .v-csslayout {
	display: table !important;
}

.scroll-quitar{
	overflow: unset !important;
}


.vertical-tabla-header{
	background: rgb(244, 247, 245) none repeat scroll 0 0;
	border-right: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	page-break-after:avoid;
}

.titulo-tabla-header{
	border-color:#d4d4d4;
	border-image:none;
	border-style:solid;
	border-width: 0 0 0 1px;
	color: #0065b7;
	display: table-cell;
	font-size:12px;
	font-weight:bold;
	line-height:2.3;
	min-height:11px;
	position:relative;
	padding: 0 9px;
	page-break-after:avoid;
}

.fila-tabla-row{
	border-bottom: 1px solid #d4d4d4;
	page-break-after:avoid;
	
}

.detalle-tabla-fila{
	vertical-align:middle;
	padding: 0 9px;
	display: inline-block;
	background-color:#fff;
	font-weight:normal;
	page-break-after:avoid;
}



}

@media print { 
.boton-imprimir-none{
	display: none !important;
}

div{
	float: none;
}

.page-break{
	page-break-after:avoid !important;
}

.page-break-always{
	page-break-after:always !important;
}

}

