@import "../../valo/valo.scss";
@import "comboBox.scss";
@import "../bbva.scss";

.header{
  position: fixed;
  z-index: 10;
  width: 100%;
}
.contenido{
	padding-top: 49px;
}

.login{
	padding-bottom: 3% !important;
	padding-top: 3% !important;
	padding-left: 3%;
	padding-right: 3%;
}

.v-slot-headerPic{
	
	height: 0% !important;
}
.v-slot-contenidoPic{
	padding-top: 49px;
	height: 93% !important;	
}
.v-slot-footerPic{
	height: 0% !important;
}


.fancy-image .v-widget .v-has-width .v-has-height::before{
	width: 100% !important;
	height: 100% !important;
}



.fancy-image .fancy--on:nth-child(1){
	position:unset !important;
}
.fancy-image .fancy--out:nth-child(1){
	position:unset !important;
}



.fancy-image  .fancy--on{
		width:100% !important;

}
.fancy-image .fancy--out{
		width:100% !important;
} 

.calendario{
	width: 100% !important;
	
}

.menuComercial{
	
}

.btnComercial{
	display:none !important;
}

.v-ui[width-range~="0-800px"] {
	.paneles .v-slot{
		display:block !important; 
		clear:both !important;
		width: 100% !important;
	}
	.paneles{
	
        position:relative;
	}
	
	.bloque{
		display:inline-block;
	}

	
	
	.botonera .v-slot-link{
		display:unset !important;
	}
	
	.btnComercial{
		top:5px;
		display:inline !important;
		@include link-boton-tipo($color:#FFFFFF);
	}
	
	
	.menuComercial{
		display: none;
	}
	
	.v-layout-opciones-comerciales:hover .menuComercial{
		display: inline;
		position:absolute;
		z-index:999999;
		top:40px;
		
	}
	.v-btnBuscar .v-button-wrap .v-button-caption{
	 display:none;
	}

	.v-btnBuscar .v-button-wrap::before{
	 	content: "\f002";
    	font-family: FontAwesome;
    	font-style: normal;
    	font-weight: normal;
    	text-decoration: inherit;
	}
	
	
	
	
}