@import "../../valo/valo.scss";
$azuloscuro:#0079C1;
$blanco:#FFFFFF;

@mixin reporte {
	.cabecera-textoBlanco{
		background:#00BFFF;
		color:white;
		text-align: center;
	}
	.cabecera-repote-texto{
		border:{
			/*color:#000000;*/
			color:#d9d9d9;
	  		radius: 0px;
	  		width:1px;
	  		bottom-style: solid;
	  		left-style: none;
	  		right-style: solid;
	  		top-style: none;
	  	}
	}
	.cabecera-repote-etiqueta{
		background:#0079C1;
		color:$blanco;
		border:{
			/*color:#000000;*/
			color:#d9d9d9;
	  		radius: 0px;
	  		width: 1px;
	  		bottom-style: solid;
	  		left-style: solid;
	  		right-style: solid;
	  		top-style: none;
	  	}
	}
	
	.cabecera-repote-texto-ejecutivo{
		border:{
			/*color:#000000;*/
			color:#d9d9d9;
	  		radius: 0px;
	  		width:1px;
	  		bottom-style: solid;
	  		left-style: none;
	  		right-style: solid;
	  		top-style: solid;
	  	}
	}
	.cabecera-repote-etiqueta-ejecutivo{
		background:#0079C1;
		color:$blanco;
		border:{
			/*color:#000000;*/
			color:#d9d9d9;
	  		radius: 0px;
	  		width: 1px;
	  		bottom-style: solid;
	  		left-style: solid;
	  		right-style: solid;
	  		top-style: solid;
	  	}
	}
	
	.panel-reporte{
		$v-background-color:$azuloscuro;
		@include valo-panel();
		.v-panel {
			border-bottom-style: dashed;
		}
	}
	.cabecera .v-table-header{
		//border-bottom: 1px dashed #000000;	
		//color: #FFFFFF;
		font-size: 9px;
		font-weight: bold;
		
	}
	.v-panel-caption {
		text-align: center;
		color: #b6daef; // FFFFFF
	}
	.cabecera .v-table-cell-content{
		height : 15px;
	}
	.cabecera .v-table-caption-container, .cabecera .v-table-header-drag {
	    padding-left:1px;
	    padding-right:1px;
	    text-align: center;
	}
	
	.etiqueta-tabla {
		font-size: 9px;
		font-weight: bold;
		/*border:1px solid black;*/
		background-color: #F4F7F5;
		color: #0065B7 !important;
		text-align:center;
	}
	.etiqueta-rojo {
		font-size: 9px;
		font-weight: bold;
		background-color: white;
/*		color: red !important;*/
		color: #0065B7 !important;
		text-align:center;
	}
	.etiqueta-cabecera{
		color:$blanco;
		font-weight:bold;
	}
	.informacion-tabla{
		font-size: 9px;
		font-weight: bold;
		/*border:1px solid black;*/
		background-color: white;
		color: black !important;
		/*text-align:center;*/
	}
}

