@mixin resuelve { 

	.resuelve-cabecera-titulo-line{
          border-bottom: solid 1px #E7EFF7;
    }
	
	.resuelve-titulo-principal{
    	font-size: 18px;
    	color: #0066C3;
    	font-weight: bold;
    }
    
    .resuelve-titulo-seccion{
    	font-size: 14px;
    	font-weight: bold;
    }
    
    .resuelve-tabla-atenciones .v-table-body {
		height: 330px !important;
	}
	
	.btn-ver-detalle-atencion {
		font-size: 18px;
		padding: 5px 5px 5px 5px;
	}
	
	.detalleAtencion{
    	padding-bottom: 4px;
    	font-weight: bold;
    }
    
	.padding-bottom{
    	padding-bottom: 4px;
    }
    
    .textoDetalleSolicitud{
    	padding-left: 10px;
    	padding-top: 10px;
    	font-weight: bold;
    }
    
    .detalleSolicitud{
    	padding-left: 10px;
    	padding-top: 10px;
    }
    
    .estiloAcordion{
    	font-weight: bold;
    }
    
    .resuelve-label{
    	padding-left: 1%;
   		padding-top: 3px;
    }
}