@import "../../valo/valo.scss";
@mixin simulador{
	
	.simulador {
		@include margen(null,null,4%,null);
	}

 	.simulador .v-caption{
	 	margin-top:1% !important;
	 	background-color:white;
	   	color : #OOO;
	   	padding-bottom: 0.6em;
	   	padding-right: 0.5em;
 	}
 	.simulador-subproducto {
 		margin-right: 0%;
 	}
 	.simulador-txtmonto {
 		margin-right:12%;
 	}
    .simulador-txtvalor-comercial {
    	margin-right:3%;
 	}
 	.simulador-margen-superior{
 		margin-top: 1%;
 	}
 	.simulador-txttasa {
 		margin-left: 0%;
 		margin-right: 0%;
 	}
 	.simulador-txtdia-pago {
 		margin-right: 0%;
 	}
 
 	.simulador-combo-plazo{
 		margin-right: 9%
 	}
 
 	.simulador-combo-gracia{
 		margin-right:9%;
 	}
 
 	.simulador-combo-principalidad{
 		margin-right:0%;
 	}
 
 	.simulador-margen-derecho-1{
 		margin-right:0%
 	}
 
 	.simulador-borde-superior{
 		border-top: solid 1px #BEE8FB;
 	}
 
 	.simulador-titulo-principal{
 		font-weight:bold;
 		margin-top: 1%;
 		color: #0078d4;
 	}
 	.simulador-combo-tipo-seguro {
 		margin-right: 40%
 	}
 	.simulador-combo-tipo-bien {
 		margin-right: 40%
 	}
 	.simulador-combo-tipo-desgravamen {
 		margin-right: 40%
 	}
 	.simulador-chk-adicionales {
 		margin-top: 2%;
 		margin-right: 0%;
 		margin-bottom: 4%
 	}
 	.simulador-pdf-nacimiento-uno {
 		margin-right: 6%;
 	}
 	.margen-opt-simulador {
 		margin-top: 2%;
 		margin-left: 0%;
 	}
 	.simulador-txt-background-color {
 	}
}
