@mixin subwindow{
	.notifications.v-window {
	    overflow: visible !important;
	    // top: 3 * $v-unit-size !important;
	    right: $view-padding;
	    left: auto !important;
	    max-width: 100%;
	
	    $window-outline: $v-overlay-shadow;
	    @if list-of-lists($window-outline) {
	      $window-outline: last($v-overlay-shadow);
	    }
	    $window-outline: flatten-list(valo-bevel-and-shadow($bevel: null, $shadow: $window-outline));
	    $outline-width: nth($window-outline, length($window-outline) - 1);
	    $outline-color: last($window-outline);
	
	    @include transform-origin(296px - (2 * $v-unit-size - round($v-unit-size / 3)) -7px);
	
	    &.v-window-animate-in {
	      @include animation(animate-in-scale-up 260ms cubic-bezier(.68,.37,.51,1.37));
	    }
	
	
	    &:before,
	    &:after {
	      content: "";
	      position: absolute;
	      top: -14px;
	      right: 2 * $v-unit-size - round($v-unit-size / 3);
	      border: 7px solid transparent;
	      width: 0;
	      height: 0;
	      border-bottom-color: $v-window-background-color;
	    }
	
	
	    &:before {
	      @if type-of($outline-width) == number and $outline-width > 0 {
	        top: -15px - 2 * $outline-width;
	        margin-right: -$outline-width;
	        border-width: 7px + $outline-width;
	        border-bottom-width: 8px;
	        border-bottom-color: $outline-color;
	      } @else {
	        content: none;
	      }
	    }
	
	    .v-window-header {
	      color: $v-selection-color;
	    }
	
	    .v-window-outerheader:after,
	    .v-scrollable:before {
	      display: none;
	    }
	
	    .notification-item {
	      font-size: round($v-font-size * 0.9);
	    }
	
	    .notification-title {
	      font-weight: $v-font-weight + 200;
	    }
	
	    .notification-time {
	      font-size: round($v-font-size * 0.8);
	      color: valo-font-color($v-window-background-color, .5);
	    }
	
	  }
	
	  // Need to use normal media queries because Responsive doesn't work for overlay elements just yet
	  @media screen and (max-width: 480px) {
	    .notifications.v-window {
	      right: round($view-padding / 2);
	    }
	  }
	  .wndPosicion 
	  { 
    	bottom: 0;
    	left: calc(100% - 459px) !important;
    	right: 0;
    	top: 41px !important;
	  }
	  
	  .wndPosicionFiltro
	  {
	  	bottom: 0;
    	left: calc(100% - 469px) !important;
    	right: 0;
    	top: 41px !important;
	  }
}