@import "../../valo/valo.scss";
$v-fodo-fila:#FFFFFF;
@mixin tabla{
	@include tabledisenio();
	.v-caption {
		color:#434A58;	    
	    background-color: #F0F2EF;//Para el fondo de la cabecera
		box-shadow: 0 0 0 0px #E5E5E5;//Para el margen de la cabecera
	    @include estilo-fuentes(Stag Sans,book,12px);
	}
	
	.treeAsignacion .v-table-caption-container{
		width: 100% !important;
	}
	
    .treeAsignacion .v-table-body{
 		height: calc(100% - 37px) !important;
    	overflow-y: visible !important;
 	}
 	
 	.agendadoMultiple .v-table-caption-container{
		width: 100% !important;
	}
	
    .agendadoMultiple .v-table-body{
 		height: calc(100% - 37px) !important;
    	overflow-y: visible !important;
 	}
 	
 	.tablaOferta .v-table-body{
 		height: calc(100% - 37px) !important;
    	overflow-y: visible !important;
 	}
	
	.tabla-participe .v-table-row {
		&:hover{
			color: #0065B7 !important;
			font-weight: bold;
		}
	}
	
	.tabla-participe .v-table-row-odd {
		&:hover{
			color: #0065B7 !important;
			font-weight: bold;
		}
	}
	
}

@mixin tabledisenio($primary-stylename: v-table){
	.#{$primary-stylename}{
		color: #000000 !important;
		background: none repeat scroll 0 0 #FFFFFF;
    	position: relative;    	
    	@include estilo-fuentes(Arial,normal,10px);    	
	}
	.#{$primary-stylename}-header{
		font-color: #0065B7;
		background-color: #F4F7F5;//Para el fondo de la cabecera
		box-shadow: 0 0 0 1px #E5E5E5;//Para el margen de la cabecera
		border-bottom: 1px solid #D4D4D4;
		@include estilo-fuentes(Stag Sans,bold,12px);
	}
	.#{$primary-stylename}-cell-wrapper {
   		//color:#000000 !important;
  	}
  	.#{$primary-stylename}-row-odd{  		
	    background-color:$v-fodo-fila;
	 }
	.#{$primary-stylename}-column-selector{	
	}
	
	.#{$primary-stylename} [class*="-row"].v-selected {
		$v-selection-color:#E0F6FC;
	    $selected-border-color: adjust-color($v-selection-color, $lightness: -8%, $saturation: -8%);
	    background-color:#FFFFFF;
	    @include valo-gradient($v-selection-color);
	    background-origin: padding-box;
	    $font-color: valo-font-color($v-selection-color, 0.9);
	    color: $font-color;
	    text-shadow: valo-text-shadow($font-color: $font-color, $background-color: $v-selection-color);
	
	    + .v-selected {
	      $gradient-end: first(last(valo-gradient-color-stops($v-selection-color)));
	      background: $gradient-end;
	
	      td {
	        border-top-color: $gradient-end;
	      }
	    }
	
	    .#{$primary-stylename}-cell-content{	    	
	      	border-color: transparent;
      		border-left-color: $selected-border-color;
      		//padding-left: 1px;
	        &:first-child {
		      border-left-color: transparent;
		    }
	     }
	 }
	
	.#{$primary-stylename}-cell-content{
		//background-color: #FFFFFF;
		border-left: 0px solid #d4d4d4;
		border-bottom: 1px solid #d4d4d4;
		overflow: hidden;
		padding-left: 1px;
    	//padding-bottom: 1px;
    	//height: 37px;
    	//overflow: hidden;
    	//vertical-align: middle; 
	}
	.#{$primary-stylename}-body {
	    -moz-user-select: text;
	    border: 1px solid #ffffff;
	}
}

@mixin estilo-fuentes($style,$weight,$size){
	font:{
	   	style:$style;
       	weight:$weight;
      	size:$size;
    }
}