@import "../../valo/valo.scss";
@import "comboBox.scss";
@mixin tabs{ 	
    .v-tabsheet > .v-tabsheet-tabcontainer .v-caption{
    	margin-left: 10px !important;
    }   
    
    .v-tabsheet > .v-tabsheet-tabcontainer .v-caption:hover{
    	 $background-colorP:#EAF1F7;
    	 $background-colorS: #FFFFFF;
    	 $color-letra:#1E5599;
    	 @include placom-gradient($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
    	 color:$color-letra;
    }
    
    .v-tabsheet > .v-tabsheet-tabcontainer .v-caption{
    	 $background-colorP:#F5F7F8;
    	 $background-colorS: #FFFFFF;
    	 $color-letra:#3E98DC;
    	 @include placom-gradient($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
    	 color:$color-letra;
    }
    
    .v-tabsheet > .v-tabsheet-tabcontainer .v-tabsheet-tabitem-selected .v-caption{
    	 $color-letra:#024495;
    	 $color-fondo:#FFFFFF;    	 
    	 color:$color-letra;
    	 background-color:  $color-fondo;
    }
    //Estilo para impersonado
    .v-tab-impersonado .v-caption {
    	$background-colorP:#59C000;
    	$background-colorS: #65D800;
    	$color-letra:#1E5599;
    	@include placom-gradient-importante($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
    	color: #FFFFFF !important;
    }
    
    .v-tab-impersonado .v-caption:hover {
    	$background-colorP:#499900;
    	$background-colorS: #59C000;
    	$color-letra:#1E5599;
    	@include placom-gradient-importante($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
    	color: #FFFFFF !important;
    }
    
    //Estilo para delegado
    .v-tab-delegado .v-caption {
    	$background-colorP:#C71D5E;
    	$background-colorS: #C84074;//#C9316B;
    	$color-letra:#1E5599;
    	@include placom-gradient-importante($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
    	color: #FFFFFF !important;
    }
    
    .v-tab-delegado .v-caption:hover {
    	$background-colorP:#CA004D;
    	$background-colorS: #C71D5E;
    	$color-letra:#1E5599;
    	@include placom-gradient-importante($background-colorP, $background-colorS, v-linear 20%,$background-colorS , to top);
    	color: #FFFFFF !important;
    }
}

 
 
 