/*variable de colores*/
$celeste-claro:#EAF1F7;
$blanco:#FFFFFF;
@import "../../valo/valo.scss";

@mixin tabsheet{
	@include sheet-disenio();
}

@mixin sheet-disenio($primary-stylename: v-tabsheet){
	.#{$primary-stylename}{
		@include sheet-container-final();
	}
	.#{$primary-stylename}-tabsheetpanel{
		border-bottom: 1px solid #E4E4E4;
	}
}

@mixin sheet-container-final($primary-stylename: v-tabsheet){
> .#{$primary-stylename}-tabcontainer {
    .v-caption {
      $tab-spacing:4px;
      margin-left: $tab-spacing;
      padding: 0 9px;
      background-color: #F5F7F9;
      border: 1px solid transparent;
	  line-height: 30px;
	  border-radius: 5px 5px 0 0;
	  @include estilo-fuentes(Stag Sans,normal,12px,#0078D2);
      &:hover {
        background-color: #EAF1F7;
        border-bottom-color: first-color(valo-border($color: $celeste-claro, $strength: 0.5));
        @include estilo-fuentes(Stag Sans,bold,12px,#0065B7);
      }
      

      &.v-disabled:hover {
        background-color: $celeste-claro;
      }
    }

    .v-caption-closable {
      padding-right: 22px;
    }

    .#{$primary-stylename}-caption-close {
      $v-font-size:12px;
      top: round($v-font-size/4);
      right: round($v-font-size/4);
      margin-top: 0;
    }

    td:first-child .v-caption,
    [aria-hidden="true"] + td .v-caption {
      margin-left: 0;
    }

    @if $frame-inactive-tabs {
      .#{$primary-stylename}-tabitem .v-caption {
        border-color: #B6CEEA;
      }
    }

    .#{$primary-stylename}-tabitem-selected .v-caption {
      background: $blanco;
      border-color: #DADAD9;
      border-bottom: none;
      padding-bottom: 1px;
      @include estilo-fuentes(Stag Sans,bold,12px,#0065B7);
    }
  }

  > .#{$primary-stylename}-content {
    // iOS panics with black line artifacts,
    // moving the background color to an inner element fixes it
    > div {
      background: $blanco;
    }

    @if $outer-frame {
      border: 1px solid #e4e4e4;
      border-top: none;
    }
  }

  &.padded-tabbar {
    > .#{$primary-stylename}-tabcontainer {
      @if $outer-frame {
        border: 1px solid #e4e4e4;
        border-bottom: none;
      }

      background: #FAFAFA;
      padding-top: 7px;
    }
  }

  &.icons-on-top {
    > .#{$primary-stylename}-tabcontainer .#{$primary-stylename}-tabitem-selected .v-caption {
      padding-bottom: 8px;
    }
  }
}

@mixin estilo-fuentes($style:Stag Sans,$weight:normal,$size:12px,$color:#0065B7){
	color:$color;
	font:{
	   	style:$style;
       	weight:$weight;
      	size:$size;
    }
}
