@import "../../valo/valo.scss";
@import "preEvaluador.scss";

@mixin tarjeta { 

	.tarjeta-toc-no-visible{
		display:none !important;
	}

	.margin-derecho-combo{
		margin-right:20%;
	}

	.padding-izquierdo-detalle{
		padding-left: 30%;
	}
	
	.padding-izquierdo-divisa-detalle{
		padding-left: 55%;
	}
	
	.margen-izquierdo-titulo-detalle{
		margin-left: 1%;
	}
	
	.margen-izquierdo-divisa-detalle{
		margin-left: 20%;
	}
	.margen-izquierdo-10{
		margin-left: 10%;
	}
	.padding-izquierdo-general-detalle{
		padding-left: 2%;
		margin-top: 1%;
	}
	
	.padding-izquierdo-central-titulo-detalle{
		padding-left: 24px;
	}
	.margen-superior-titulos-detalle{
		margin-top: 2%;
	}
	
	.tarjeta-fuente-mensaje-estado-cuenta{
		font-weight: bold;
		font-size:14px;
	}
	.tarjeta-label-entregaeecc{
		color:green;
	}
	
	.tarjeta-label-altacuenta{
		color:green;
		margin-bottom: -10px;
	}

	.tarjeta-margen-superior{
		margin-top: 15px;
	}
	
	.tarjeta-margen-interno-inferior{
		padding-bottom: 15px;
	}
	
	.lblAvisoEntragaCorreo{
		margin-top:9px;
	}
	    
    .numeracion-pagina-titulo{
    	color: #115DA4;
    	font-weight: bold;
    	text-align: rigth;
    }
    
    .margen-superior-cabecera-titulo-pagina{
    	margin-top:2%;
    }
    
    .cabecera-titulo-pagina-line{
    	  margin-left: 2%;
          margin-right: 1%;
          border-bottom: solid 1px #E7EFF7;
    }
      
    .cabecera-titulo-pagina{
	    margin-left: 2%;
		margin-right: 1%;
    	border-bottom: solid 1px #E7EFF7;
    	padding-bottom: 1%;
    }
    
    .titulo-operacion{
    	float: left;
    	font-size: 16px;
    	color: #0066C3;
    	font-weight: bold;
    }
    
    .titulo-pasos-numeracion{
    	float: left;
    	text-align: right;
    	font-weight: bold;
    	font-size: 14px;
    }
    
    .border-inferior-toc{
    	border-bottom: solid 1px #E7EFF7;
    }
    
    .border-derecho-toc{
    	border-right:  1px solid  #E7EFF7;
    }
    
    .padding-bottom-dos{
		padding-bottom:2%
	}
	
	.alertaInfo{
    	background-color: #e1fafe;
    	padding-left: 1%;
    	padding-top: 0.5%;
    	border: solid 1px;
    	border-radius: 5px;
    	border-color: #cbe5e9;
    	font-weight: 500;
	}
	
	
	.btn-link-LDPD{
    	margin-top: -2px !important;
    	height: 21px !important;
    	padding: 0 2px !important;
	}
	
	.btn-link-LDPD .v-button-caption{
		text-decoration: underline;
	}
	
	.margin-top-tres{
		margin-top: 3px;
	}
	
	 .label-sugerir-oferta{
	    border: 1px solid;
	    border-radius: 5px;
	    padding: 1%;
	    background-color: #F7E9E9;
	    color: #C5176E;
	    font-weight: 500;
	}
	
	.margen-derecho-21{
		margin-right:21%;
	}
	
	.margen-inferior-3{
		margin-bottom:3px;
	}
	
	.auto-text{
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}
	
}