@import "../../valo/valo.scss";

@mixin textfield {
	//$v-default-field-width:100px;
	//@include valo-textfield();
	@include textfield-disenio;
  
  .txtField-varios{//PARA EL TEXTO DE SELECCION DE VARIOS EN LOS FILTROS
  		font-size: 10px;
  }
}

@mixin textfield-disenio($primary-stylename:v-textfield){
  	.#{$primary-stylename} {
  		//$border-radius    : 10px;
  		$v-field-width:150px;
  		$v-field-shadow:0 0 0 1px #E8E8E6;  		
  		$font-size:12px;
  		$font-weight:normal;
  		
  		@include valo-textfield-style($border-radius:5px,$shadow:$v-field-shadow,$font-size:$font-size,$font-weight:$font-weight);
    	width: $v-field-width;
    	background-color:#FFFFFF;
    	color:black;
    	&:focus {
    		background-color:#FFFFF5;
    		border-color:#DEF4FB;//
    	}
  	}
  	
  	.#{$primary-stylename}-readonly {
  		@include valo-textfield-readonly-style;
  	}
  	.#{$primary-stylename}-borderless {
    }
    
    .#{$primary-stylename}-error {
    	//@include valo-textfield-error-style;
    	&:focus {
    		border-color: #F8E0EC;
    	}
  	}
  	
  	.#{$primary-stylename}[class*="prompt"] {
  		font-style:italic;
  	}
  	
  	@include valo-textfield-inline-icon($stylenames: inline-icon);
    @include valo-textfield-inline-icon($stylenames: inline-icon tiny, $unit-size: $v-unit-size--tiny, $font-size: $v-font-size--tiny);
    @include valo-textfield-inline-icon($stylenames: inline-icon compact, $unit-size: $v-unit-size--small);
    @include valo-textfield-inline-icon($stylenames: inline-icon small, $unit-size: $v-unit-size--small, $font-size: $v-font-size--small);
    @include valo-textfield-inline-icon($stylenames: inline-icon large, $unit-size: $v-unit-size--large, $font-size: $v-font-size--large);
    @include valo-textfield-inline-icon($stylenames: inline-icon huge, $unit-size: $v-unit-size--huge, $font-size: $v-font-size--huge);
}
