@import "../../valo/valo.scss";

.v-table .v-table-cell-content-red {
   	color:#FF0000;
}

.v-table .v-table-cell-content-blue {
	color:#134aa3;
}
	
@mixin utilitario{

	.v-contenedor-dato-contacto >.menu-dato-contacto > .v-menubar-menuitem:first-child{
		padding: 0 0 !important;	
	}
	
	.v-contenedor-dato-contacto > .menu-dato-contacto > .v-menubar-menuitem:first-child .v-icon{
	 	margin: 0 0 0 0px !important;
	 	height: 26px !important;
    	position: absolute;
    	line-height: 2;
	}
	
	.v-contenedor-dato-contacto > .menu-dato-contacto > .v-menubar-menuitem:first-child{
		width: 21px;
	}
	
	.v-contenedor-dato-contacto > .menu-dato-contacto > .v-menubar-menuitem[class*="-icon-only"]{
		width: 20px !important;
	}
	
	.util-margen-izquierdo-uno{
		margin-left:1%;
	}
	
	.util-margen-izquierdo-dos{
		margin-left:2%;
	}
	
	.confirmacion-body{
		margin-left: 25px;
	}
	.confirmacion-title-left {
	   margin-left: 200px;
	}
	.confirmacion-contenedor-left {
	 	margin-left: 25% !important;
	}
	.util-margen-izquierdo-diez{
		margin-left:10%;
		word-wrap: break-word;
	}
	
	.util-flotar_derecha_margins{
		float:right;
		margin-left:2%;
		margin-top:2%;
		margin-bottom:2%;
	}
	
	.util-icon-large{
		font-size: 17px;
		margin: 0 0 0 10px !important;
		padding: 0px !important;
		line-height: 21px !important;	
	}
	
	.util-border-punteado-bottom{
		border-style: dotted;
    	border-bottom-width: 2px;
    	border-top-width: 0px;
    	border-left-width: 0px;
    	border-right-width: 0px;
	}
	
	.util-centrar-texto{
		text-align:center;
	}
	
	.util-padding{
		padding:1%;
	}
	
	.util-padding-dos{
		padding:2%;
	}
	
	.util-padding-cuatro{
		padding:4%;
	}
	
	.util-padding-derecho-cuatro{
		padding-right:4%;
	}
	.util-padding-izquierda-cuatro{
		padding-left:4%;
	}
	
	.util-padding-superior-cuatro{
		padding-top:4%;
	}
	
	.util-padding-inferior-cuatro{
		padding-bottom:4%;
	}
	
	.util-margen-derecho-dos{
		margin-right:2%;
	}
	.util-margen-derecho-uno{
		margin-right:1%;
	}
	
	.util-margen-derecho-cinco{
		margin-right:10%;
	}
	
	.util-margen-derecho-25{
		margin-right:25%;
	}
	
	.util-margen-derecho-diez{
		margin-right:10%;
	}
	
	.util-margin-top-small{
		margin-top: 0.5%;
	}
	
	.util-margin-top{
		margin-top: 1%;
	}
	
	.util-margin-top-tres{
		margin-top: 3%;
	}
	
	.util-margin-top-dos{
		margin-top: 2%;
	}
	
	.ver-mas-derecha{
		margin-top:3%;
		text-align:right;
	}
	.titulo-principal{
		font-weight:bold;
	}
	
	.util-rango-fecha{
	    font-size: 10px;
	    /*color: green;*/
	    color: #929292;
	    font-weight: bold;
	    /*text-align: right;*/
	}
	.ver-mas-derecha-small{
		    margin-top: 1%;
    		text-align: right;
	}
	
	.ver-mas-izquierda-small{
	 	    margin-top: 1%;
    		text-align: left;
	}
	
	.btn-alta-tarjeta-link{
		padding: 0px 0px 10px 0px !important;
		font-size:11px;
		font-weight: normal;
	}
	.eliminar-margin-right{
		margin-right: 8px !important;
	}
	
	.ver-mas-izquierda-small{
	 	    margin-top: 1%;
    		text-align: left;
	}
	
	.btn-alta-tarjeta-link{
		padding: 0px 0px 10px 0px !important;
	}
	
	
	.boton-izquierda{
		text-align:left;
	}
	
	.boton-derecha{
		width: 10%;
		margin-left: 19%;
	}
	
	.util-margin-bottom-menos-uno{
		margin-bottom:0.8%;
	}
	
	.util-margin-bottom-small{
		margin-bottom:0.5%;
	}

	.util-margin-bottom{
		margin-bottom:1%;
	}
	
	.util-margin-bottom-dos{
		margin-bottom:2%;
	}
	
	.util-margin-bottom-tres{
		margin-bottom:3%;
	}
	
	.util-margin-derecho-cinco{
		margin-right:5%;
	}
	
	.util-margin-derecho-dos{
		margin-right:2%;
	}
	
	.util-boton-flotar-derecha{
		float: right; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-top: 5px !important;
	}
	
	.util-boton-flotar-izquierda{
		float: left; 
		height: 16px;
		display: table; // inline-table, inherit
		padding: 0px 0px 0px 0px !important;
		margin-right: 15px !important;
		margin-top: 5px !important;
	}
	
	.util-flotar_izquierda{
		float:left;
	}
	.util-flotar_derecha{
		float: right;
	}
	
	.util-margen_superior{
		margin-top:3.2%;
	}
	
	.util-margen-superior-uno{
		margin-top:1%;
	}

	.util-margen-superior-dos{
		margin-top:2%;
	}
	
	.util-padding-left{
		padding-left:1%
	}
	.util-padding-left-dos{
		padding-left:2%
	}
	.util-padding-left-tres{
		padding-left:3%
	}
	.texto-color-rojo{
	    color: red;
	}
	.util-padding-left-cuatro{ 
		padding-left:4%
	}
	.util-padding-bottom-dos{
		padding-bottom:2%
	}
	.util-padding-left-dos{
		padding-left:2%
	}
	.util-padding-bottom-uno{
		padding-bottom:1%
	}
	
	.util-margin-bottom-medio{
		margin-bottom:0.5%
	}
	.util-border-bottom{
		border-bottom: 1px solid #e4e4e4;
	}
	.util-border-right{
		border-right: 1px solid #e4e4e4;
	}
	
	.util-border-right{
		border-right: 1px solid #e4e4e4;
	}
	
	.titulo-principal-azul{
		color: #025498;
		font-weight: bold;
	}
	
	.error-biometrico{
	    color: #FF2626;
	    font-weight: bold;
	}
	.titulo-principal-oscuro{
	    color: #7e7e7e;
	    font-weight: bold;
	}
	.titulo-principal-color{
	    color: #7e7e7e;
		font-size: 13px;
	}
	.options-list-10-bottom{
	
	}
	.options-list-10-bottom span{
		margin-bottom:10px !important;
	}
	
	.util-margin-bottom-10{
		margin-bottom:10px;
	}
	
	.util-panel-5-bottom{
		padding-bottom:5px;
	}
	
	.util-panel-10-bottom{
		padding-bottom:10px;
	}
	.util-panel-26-bottom{
		padding-bottom:26px;
	}
	.util-margin-left-2px{
		margin-left:2px;
	}
	
	.util-text-no-bold{
		 font-weight: normal;
	}
	
	.util-table-border-bottom{
		border-bottom: 1px #f5f5f5 solid;
   		margin-bottom: 5px;
    	margin-top: 5px;
	}
	
	.util-titulo-400{
		font-weight: 400;
		font-size: 14px;
	}
	
	.util-titulo-13{
		font-size: 13px;
	}
	
	.util-titulo-14{
		font-size: 14px;
	}
	
	.util-titulo-16{
		font-size: 16px;
	}
	
	.util-label-border{
		border-top: solid 1px #eee;
    	padding-top: 5px;
    }
	
	.util-titulo-bold{
		font-weight: bold;
		font-size: 14px;
	}
	
	.util-font-weight-300{
		font-weight: 300;
	}
	
	.util-boton-buscar-gestor{
		
	    margin-left: 5px;
	    margin-right: 5px;
	    font-size: 11px;
	    padding-left: 7px;
	    padding-right: 7px;
	    padding-bottom: 1px;
	}
	
	.util-padding-top-2{
	    padding-top: 2px;
	}
	.util-padding-top-1{
	    padding-top: 1px;
	}
	
	.util-padding-top-5{
	    padding-top: 5px;
	}
	
	.util-tree-table-height .v-table-body  {
    	height: 480px !important;
	}
	
    .util-input-error-sugerir-oferta{
    	color:red !important;
    }
	

	.contenedorCirclePage{
		float: left;
		margin-left: 5px ;
	}
	
	.circlePage{
	    border-radius: 50%;
	    width: 5px;
	    height: 5px;
	    padding: 8px;
	    background: #D7D7D7;
	    color: #B4B4B4;
	    text-align: center;
	    font: 12px;
	}
	
	.paginaSeleccionada > div{
		background: #115DA4 !important;
		color: #fff;
	}
	
	.paginaAnterior > div{
		background: #f4f4f4 !important;
		color: #e0e0e0;
	}
	
	.border-top{
		border-top: 1px solid #E3EDF6;
	}
	
	.color-fondo{
		background-color: #F3F8FC;
	}
	
	.alertaError{
    	background-color: #F7E9E9;
    	padding: 1%;
    	border: solid 1px;
    	border-radius: 5px;
    	border-color: #F5D5E3;
    	font-weight: 500;
    	color:#A00050;
	}
	
	.contenedor-nav-op-producto{
	    margin-top: 10px;
    	margin-bottom: 10px;
    	width: 100%;
    	text-align: right;
	}
	
	.margin-25px{
		margin-right: 25px;
	}
	
	.scroll-auto{
		overflow: auto;
	}
	
	.line-height-2-3{
		line-height: 2.3
	}
	
}