// Global variable overrides. Must be declared before importing Valo.

$v-app-loading-text: "BBVA";
$v-grid-row-stripe-background-color: #FFF !default;

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: #FFF;//#A6B5FA

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;

//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
$v-focus-color: $azuloscuro;//$azuloscuro valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

$azuloscuro:#0079C1;
$azulclaro:#00559d;
$blanco:#FFFFFF;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";
@import "fonts/bbvaWeb/bbvaweb.scss";
@import "componentes/comboBox.scss";

@include font-source-bbvaweb;
$fuente-banco:"BbvaWeb2";

//$source-bbvaweb-pathPrefix: "fonts/bbvaWeb/";

@mixin bbva {
  @include valo;
  //@include menu-bar;
 
  .v-tooltip-text {
  	font-weight: bold;
  }
   
  .v-upload .gwt-FileUpload {
    display: none !important;
    width:50px !important;
  }
 
  .link{
	@include valo-button-style();		
	@include boton-hover(false,transparent);
	background:none !important;
	color:$azuloscuro !important;
	text-decoration:none !important;
	border-style:none !important;
    border-width:0px !important;	
    border-color:transparent !important;
    box-shadow:none !important;  	
  }
  
  .margenes{
  	padding:15px !important; 
  }
  
  .v-filtro-seleccion {
  	background-color: #fbf1d0 !important;
  	//font-weight: bold;
  }
  
  .v-filtro-seleccion .v-filterselect-input{
  	//fbf1d0
  	//@include placom-gradient(#f2d7bb, #fbf1d0, v-linear 18%, #fbf1d0, to top);
  	background: #fbf1d0 !important;
  	//color: #00B000;
  	//font-weight: bold;
  }
  
  .margenes-ventana{
  	padding-left: 15px !important;
    padding-right: 15px !important;
  }
  
  .v-button-link:hover::after{
  	background:none !important;
  } 
  .link-padding{
  	padding: 0 2px !important;
  }  
  
  .link-sinpadding{
  	padding: 0px !important;
  } 
  
  .link-plus{
  	@include link-boton-tipo();
  }
  
  .link-filtro-cliente{
  	@include link-boton-tipo($blanco,15px);
  }
  
  .link-filtro-cliente:focus::after {
  	box-shadow: 0 0 0 0 !important;
  }
  
  .link-Usuario{
  	@include link-boton-tipo($color:#000000);
  }
  
  .v-horizontallayout-wrap {
    display: inline-block !important;
  }
	
  .v-label-subtitulo {
	font: "Arial", bold, 12px !important;
	color: #0073C9 !important;
  }  
  
  .bbva-titulo {
  	padding-left:9px !important;
	font:{
		style:"Stag sans" !important;
       	weight: bold !important;
      	size:20px !important;
	}
	color: $azulclaro;//pic fondo blanco
	//color:#FFFFFF;//pic fondo azul
  }
    
  .v-layout-filtro{
  	background-color: #0065BA !important;
  	padding:{
		top: 8px !important;
		left: 9px !important;
		bottom: 9px !important; 
		right: 9px !important; 	
  	}
  	@include border-fuente(none,3px,0px,solid,solid,solid,none);
  	@include valo-gradient(#0065BA, v-linear 18%, to top);
  }
  
  .v-layout-filtro2{
  	background-color: #81003D !important;
  	padding:{
		top: 8px !important;
		left: 9px !important;
		bottom: 9px !important; 
		right: 9px !important; 	
  	}
  	@include border-fuente(none,3px,0px,solid,solid,solid,none);
  	@include valo-gradient(#81003D, v-linear 18%, to top);
  	}
  
  .v-layout-opciones{
  	background-color: #0065BA !important;
  	padding:{
		top: 0px !important;
		left: 0px !important;
		bottom: 0px !important; 
		right: 0px !important; 	
  	}
  	@include border-fuente(none,3px,0px,solid,solid,none,none);
  	@include valo-gradient(#0065BA, v-linear 18%, to top);
  }
  

  .v-button-cerrar{
  	 font:300 15px/1.55 "Open Sans",sans-serif !important;
 	 background:#FFF !important;
 	 border:0px !important;
 	 box-shadow:none !important;
 	 color:#7e7e7e !important;
 	 border-bottom-left-radius: 1px !important;
     padding-right: 0 !important;
     width: 28px !important;
     top:-5px !important;
  }
  
  .v-button-cerrar:hover::after{
     display:none;
 	 background-color:#FFF !important;

  }

  .v-button-cerrar:hover::after{
 	 color:#7e7e7e !important;
  }
  
  .sin_margen_superior{
	padding-top:unset !important;
}

	.scroll-automatico {
	display:inline-block !important; 
	overflow:auto !important;
	}
	
	.border-superior-inferior {
	border-top: solid 1px !important;
	border-bottom: solid 1px !important;
	border-color:#E4E4E4 !important;
	}

  .v-label-novedades{
  	font-size:10px !important;
  	color:#7e7e7e !important;
  	font:300 12px/1.55 "Open Sans",sans-serif !important;
  	line-height: 23px !important;
  	cursor:move !important;
  }
  
  .field-required {
  	background-color: #FFFFF1 !important;
   }
  
   //.v-panel-notes-normal {   
   // .card {
   //    padding: $v-unit-size + 2px 0 0;
   //   }
   //   border-top: valo-border($strength: 0.5);
   //   padding: 15px 5px 0px;
      
   //   line-height: 20px;
   //   font-size: 13px;
   //   background: #fffdf2 url(img/notes-bg.png) repeat;    
   //   background-attachment: local;
   //   overflow: auto;
   //}
   //.v-panel-notes-hermes{
   // .card {
   //    padding: $v-unit-size + 2px 0 0;
   //   }
   //   border-top: valo-border($strength: 0.5);
   //   padding: 15px 5px 0px;
      
   //   line-height: 20px;
   //   font-size: 13px;
   //   background: #fffdf2 url(img/notes-bg2.png) repeat;    
   //   background-attachment: local;
   //   overflow: auto;
   //}
   
   .v-caption-imagen-sin-fondo{
   		background: unset !important;  
   }
   
   
	.v-select-optiongroup-horizontal .v-select-option {
	    display: inline-block;
	}
	
	
	.v-select-optiongroup-horizontal {
	    white-space: nowrap;
	}
	
	
	.v-select-optiongroup-horizontal
	  .v-select-option.v-radiobutton {
	    padding-right: 10px;
	}
	
	.margin-Layout10{
		padding-right:10px;
		padding-left:10px;
		padding-bottom: 15px;
		padding-top: 5px;
	}
	
	.margin-agenda-pane{
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 15px;
		padding-top: 5px;
	}
	
	.margin-izquierdo{
		padding-rigth:20px;
	}
	
	.margin-izquierdo-formulario{
		padding-left:10px;
	}
	
	
	.v-menubar-submenu .v-menubar-submenu-indicator {
        //background: transparent url(img/submenu-icon.png) no-repeat right 70%;
        width: 26px;
        height: 16px;
        text-indent: -999px;
	}
	
	.tabla-campanhas .v-table-body{
 		height: calc(100% - 37px) !important;
    	overflow-y: visible !important;
 	}
	
   
}

@include font-source-bbvaweb;

@mixin boton-hover($boolean:true,$background:$azulclaro){
	@if $boolean{
		&:hover{
			
			background:$background !important;
		}
	}@else{
		&:hover{
			color:black;
			background-color:$background !important;		
		}
	}
}

@mixin border-fuente($color:none,$radius:1px,$width:1px,$bottom-style:none,$left-style:none,$right-style:none,$top-style:none){
	border:{
  		color:$color !important;
  		radius: $radius !important;
  		width:$width !important;
  		bottom-style: $bottom-style !important;
  		left-style: $left-style !important;
  		right-style: $right-style !important;
  		top-style: $top-style !important;
  	}
}

@mixin link-boton-tipo($color:$azuloscuro,$font-size:20px){
	color:$color !important;
	font-size:$font-size !important;
}
.v-label-bold {
	font-weight: 900 !important;
}

.tituloBold tr:first-child td {
	font-weight: bold;
}

.v-splitpanel-hsplitter
{
	width:5px !important;
}

.v-tooltip {
	z-index:90000 !important;
}