@import "designs.scss";
@import "addons.scss";
@import "bbva.scss";
@import "componentes/textfield.scss";
@import "componentes/tabla.scss";
@import "componentes/tabsheet.scss";
@import "componentes/tabs.scss";
@import "componentes/comboBox.scss";
@import "componentes/reporte.scss";
@import "componentes/subwindow.scss";
@import "componentes/estilopic.scss";
@import "componentes/menuBar.scss";
@import "componentes/panel.scss";
@import "componentes/loading.scss";
@import "componentes/button.scss";
@import "componentes/agenda.scss";
@import "componentes/preEvaluador.scss";
@import "componentes/notificacion.scss";
@import "componentes/comunicado.scss";
@import "componentes/reordenar.scss";
@import "componentes/print.scss";
@import "componentes/filtro.scss";
@import "componentes/fichaCliente.scss";
@import "componentes/botonQuiero.scss";
@import "componentes/gridtable.scss";
@import "fonts/vaadinicons/vaadinicons.scss";
@import "componentes/fichaPersona.scss";
@import "componentes/detalleOferta.scss";
@import "componentes/experienciaUnica.scss";
@import "componentes/simulador.scss";
@import "componentes/cotiza2.scss";
@import "componentes/feedbackTelefono.scss";
@import "componentes/altaPAT.scss";
@import "componentes/tarjeta.scss";
@import "componentes/controladorProceso.scss";
@import "componentes/utilitario.scss";
@import "componentes/biometrico.scss";

@import "componentes/confirmacion.scss";
@import "componentes/resuelve.scss";

@include vaadinicons;

//.v-generated-body {
  //    overflow: auto !important;
    //  margin: 0;
      //padding: 0;
     // border: 0;
//}
  
.bbva {
  @include addons;
  @include bbva;
  @include boton; 
  @include agenda; 
  @include tabsheet;
  @include tabla;
  @include combo;
  @include panel;
  @include textfield;
  @include reporte;
  @include subwindow;
  @include estilopic;
  @include menu;
  @include loading;
  @include tabs;
  @include notificacion;
  @include comunicado;
  @include printFichaCliente;
  @include FichaCliente;
  @include botonQuiero;
  @include filtro;
  @include gridtable;
  @include FichaPersona;
  @include preEvaluador;
  @include detalleOferta;
  @include cotiza2;
  @include tarjeta;
  @include experienciaUnica;
  @include simulador;
  @include utilitario;
  @include feedbackTelefono;
  @include altaPAT;
  @include controladorProceso;
  @include biometrico;
  @include componente-confirmacion;
  @include resuelve;
  
  //ESTILOS GENERALES
  .v-flotar-derecha{
  	float:right !important;
  }
  
  
  //ESTILO DE LETRA PARA PIC
  .v-label{
  	//color:#000000;
  	//font-weight: bolder;
  } 
  
  
  
  .v-filtro-grilla .v-filterselect-button{
  	border-left:0px !important;
  	border-right:0px !important;
  	font-size: 0px !important;
   	width: 0px !important; 
   	background-image: none;
   	overflow: hidden;
   	display: none;
  }
  
  .v-filtro-grilla .v-filterselect-input{
  	padding-right: 0px !important;
  }
  //Estilos para filas dentro de tablas
  .v-table-row-normal, 
  .v-table-row-odd-normal {
	background-color: #FDFFAC;
  }
  .v-table-row-hermes,
  .v-table-row-odd-hermes {
	background-color: #9AFF9E;
  }  
  .v-table-row-manual,
  .v-table-row-odd-manual {
	background-color: #FFFFFF;
  }
  
  .v-table-row-gestionada,
  .v-table-row-odd-gestionada {
	background-color: #d4d4d4;//#C84074;//
  }
  
  .v-table-row-caducada,
  .v-table-row-odd-caducada {
	opacity: 0.5;
  }
  
  .fieldRequired {
    background-color: #FCFFB0 !important;
  }
  
  .v-table-cell-content{
  	border-bottom: 0px !important;
  }
  
  .v-treetable [class*="cell-content"]{
  	padding-left: 10px;  
  }
  
  .v-panel-content > .v-margin-top {
    padding-top: 30px !important;
  }
  
  /* Lay the options horizontally */
  .radio-horizontal .v-select-optiongroup .v-select-option {
    display: inline-block !important;
    clear: both;
	vertical-align: middle;
  }

	/* Avoid wrapping if the layout is too tight */
  .radio-horizontal .v-select-optiongroup {
	white-space: nowrap;
  }
	
	/* Some extra spacing is needed */
  .radio-horizontal .v-select-optiongroup .v-select-option.v-radiobutton {
    padding-right: 10px !important;
  }
  
  
  .v-table-caption-container, .v-table-header-drag {
	padding: 9px 9px 8px 9px !important;
	border-left: 1px solid #d4d4d4;
  }
  .v-window-top-toolbar  > .v-widget, .v-window-bottom-toolbar  > .v-widget {
	vertical-align: middle;
  }
  .v-window-header {
	line-height: 27px;
	padding-left: 9px;
	margin-right: 56px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #7e7e7e;
	font-weight: bold;
  }
  .v-select-optiongroup .v-radiobutton, .v-select-optiongroup .v-checkbox {
	display: block;
	margin: 0px 5px 0px 5px;
  }
  .v-select-optiongroup .v-radiobutton:first-child, .v-select-optiongroup .v-checkbox:first-child {
	margin-top: 0px;
  }
  .v-select-optiongroup .v-radiobutton:last-child, .v-select-optiongroup .v-checkbox:last-child {
	margin-bottom: 0px;
  }
  .v-grid-header .sort-asc, .v-grid-header .sort-desc {
	padding-right: 11px;
  }
  .v-margin-top {
	padding-top: 10px;
  }
  .v-margin-right {
	padding-right: 20px;
  }
  .v-margin-bottom {
	padding-bottom: 10px;
  }
  .v-margin-left {
	padding-left: 20px;
  }
  .v-slot, .v-spacing {
	white-space: nowrap;
  }
  .pic-top-align {
  	vertical-align: middle;
  }
  .pic-middle-align {
  	vertical-align: middle;
  }
  
  .v-caption-filtro-tabla{
  	background-color: white !important;
  	font-size: 10px !important;
  	padding-left:2% !important;
  }
  
  .tabla-seleccion .v-table-body{
  	height:calc(237px - 10px) !important;
  	overflow-y:  auto !important;
  }
  
    .cuotaLabelTituloCenter {
	height: 2em;
	background-color: #1e64b9;
	border-width: 1px;
	color: white;
	/*width: 280px;*/
	border-style: solid;
	font-size: 13px;
	/*font-family: 'open-sans';*/  
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

  .cuotaLabelNumCenter {
	height: 2em;
	line-height: 1.5em;
	overflow: hidden;
	width: 45px;
	background-color: #E0E0E0;
	border-width: 1px;
	border-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	font-size: 10px;
 	font-weight: bold; 
	text-align: center;
}


.hidden-loading-global .v-loading-indicator[style*="none"]{
 	display: none !important;
 }
 
 .hidden-loading-global .v-loading-indicator{
 	display: none !important;
 }
 
 .sangria-pregunta-BXI {
	font-weight: bold;
	color: #0079C1;
	padding-left: 60px;
}

}